<!-- https://www.npmjs.com/package/ng2-paginate -->
<!-- https://embed.plnkr.co/oyFWJe/ -->
<!-- http://www.bentedder.com/create-a-pagination-component-in-angular-4/ -->
<nav aria-label="Page navigation example" *ngIf="count > 0 && type==1">
  <ul class="pagination justify-content-end">
    <!-- <span>pagina{{ page }} , de un numero de items de {{ count }} y</span>
    <span> hay {{ totalPages() }} paginas totales </span> -->
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/plants']" [queryParams]="{pag: previusPage()}">Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()"><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/plants']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link" (click)="onNext()" [routerLink]="['/plants']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>



<nav aria-label="Page navigation example" *ngIf="count > 0 && type==2">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/admin/treatments']" [queryParams]="{pag: previusPage()}">Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()"><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/admin/treatments']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link" (click)="onNext()" [routerLink]="['/admin/treatments']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>


<nav aria-label="Page navigation example" *ngIf="count > 0  && type==3">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/admin/products']" [queryParams]="{pag: previusPage()}">Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()"><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/admin/products']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link" (click)="onNext()" [routerLink]="['/admin/products']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>


<nav aria-label="Page navigation example" *ngIf="count > 0  && type==4">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/admin/users']" [queryParams]="{pag: previusPage()}">Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()"><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/admin/users']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link" (click)="onNext()" [routerLink]="['/admin/users']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>


<nav aria-label="Page navigation example" *ngIf="count > 0  && type==5">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/admin/feeds']" [queryParams]="{pag: previusPage()}">Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()"><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/admin/feeds']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link" (click)="onNext()" [routerLink]="['/admin/feeds']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>


  <ul class="pagination"  *ngIf="count > 0 && type==6">
    <li class="">
      <button class="btn btn-secondary btn-sm" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/plants']" [queryParams]="{pag: previusPage()}"><i class="material-icons">chevron_left</i></button>
    </li>
    <li class="">
      <button class="btn btn-secondary btn-sm" (click)="onNext()" [routerLink]="['/plants']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading"><i class="material-icons">chevron_right</i></button>
    </li>
  </ul>
