<!-- https://www.npmjs.com/package/ng2-paginate -->
<!-- https://embed.plnkr.co/oyFWJe/ -->
<!-- http://www.bentedder.com/create-a-pagination-component-in-angular-4/ -->
<nav aria-label="Page navigation example"  *ngIf="count > 0 && type==1">
  <ul class="pagination justify-content-end">
    <!-- <span>pagina{{ page }} , de un numero de items de {{ count }} y</span>
    <span> hay {{ totalPages() }} paginas totales </span> -->
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/plants']" [queryParams]="{pag: previusPage()}" >Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()" ><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/plants']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link"  (click)="onNext()"  [routerLink]="['/plants']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>



<nav aria-label="Page navigation example"  *ngIf="count > 0 && type==2">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" [disabled]="page ==1 || loading" (click)="onPrev()" [routerLink]="['/admin/treatments']" [queryParams]="{pag: previusPage()}" >Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()" ><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/admin/treatments']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link"  (click)="onNext()"  [routerLink]="['/admin/treatments']" [queryParams]="{pag: nextPage()}" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>
