<!-- https://www.npmjs.com/package/ng2-paginate -->
<!-- https://embed.plnkr.co/oyFWJe/ -->
<!-- http://www.bentedder.com/create-a-pagination-component-in-angular-4/ -->
<nav aria-label="Page navigation example"  *ngIf="count > 0">
  <ul class="pagination justify-content-end">
    <span>item min es{{ getMin() }} ,el item max es {{ getMax() }} , de un numero de items de {{ count }} y</span>
    <span> hay {{ totalPages() }} paginas totales </span>
    <li class="page-item disabled">
      <button class="page-link" (click)="onPrev()" [disabled]="page === 1 || loading">Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()" ><button class="page-link" (click)="onPage(pageNum)" [routerLink]="['/plantdata','3']" [queryParams]="{pag: pageNum}">{{pageNum}}</button></li>
    <li class="page-item">
      <button class="page-link"  (click)="onNext()" [disabled]="lastPage() || loading">Next</button>
    </li>
  </ul>
</nav>
