body{
	padding: 0 !important;
}
.borrar{
	margin-top: 1em;
}
.canvasEvolver{
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index:0;
}
canvas{
margin: 0;
padding: 0;
width: 100% !important;
height: 100% !important;

}
.selectPlantas{
	position: absolute;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	max-height:85%;
	overflow-y: auto;
	top: 105px;
	left: 0;
	bottom: 0;
	width: 150px;
	padding: 10px;
	background-color: #fff;
	z-index:1;
}

 .selectPlantas>article{
	 min-width: 110px;
	 min-height: 200px;
	 margin-top: 5px;
 }

 .selectPlantas>article>.imgPlant{
	 width: 100%;
	 height: 180px;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: contain;
	 border: 2px solid #000;
	 cursor: pointer;
 }

 .formulario{
 	margin-top : 60px;
 	margin-left: auto;
 	margin-right:auto;
 	width:50%;
	background-color: #lightblue;

 }

 .boton-container{
 	position: absolute;
 	width: 150px;
 	text-align:center;
 	padding: 5px;
	background-color: #fff;
	z-index: 2;
 }



@media (max-width: 768px) {

	.selectPlantas{
		position: absolute;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		justify-content: flex-start;
		height:120px;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 10px;
		background-color: #fff;
		z-index:1;
	}

	.selectPlantas>article{
	 min-width: 60px;
	 min-height: 100px;
 	 max-width: 60px;
 	 max-height: 100px;
 	 margin: 0 10px 0 10px;
  }

  .selectPlantas>article>.imgPlant{
 	 width: 100%;
 	 height: 80px;
 	 background-position: center;
 	 background-repeat: no-repeat;
 	 background-size: contain;
 	 border: 2px solid #000;
 	 cursor: pointer;
  }

  .formulario{
 	margin-top : 60px;
 	margin-left: auto;
 	margin-right:auto;
 	width:90%;
	background-color: #lightblue;

 }


}
