
# Logs
api/logs
api/*.log
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*

# Runtime data
api/pids
api/*.pid
api/*.seed
api/*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
api/.npm

#configuration file
api/models/connection.js

.tern-project
#wordpress
symbiose/
