body {
  background-color: #299654 !important;
}

.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button>img {
  width: 100%;
}

.form button {
  background: none;
  border: none;
  padding: 0;
}

.form a>img {
  width: 100%;
  margin-top: 10px;
}

.form a {
  margin-top: 10px;
  cursor: pointer;
}

.title {
  display: block;
  text-align: center;
  color: #fff !important;
  margin-bottom: 1em;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

.fondo {
  position: fixed;
  z-index: -1;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #299654;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #299654, #8DC26F);
  background: -moz-linear-gradient(top, #299654, #8DC26F);
  background: -o-linear-gradient(top, #299654, #8DC26F);
  background: linear-gradient(to bottom, #299654, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fondofinal {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #299654;
}
