<!--
<h1>Bienvenido otra vez!</h1>
<div class="container main-container">
  <div class="row">

    <div class="col-md-12">
      <form (ngSubmit)="guardar()" #forma="ngForm">
        <div class="form-group">

        </div>
        <div class="form-group">

          <input [(ngModel)]="user.password" name="password"
                type="password"  id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
        <button [disabled]="!forma.valid"
              type="submit"><img src="./assets/buttons/login.png" alt="Iniciar sesión"></button>
        </div>
        <button [routerLink] ="['/resetPass']" class="btn btn-info" name="button">Reset Pass</button>

      </form>
      <div class="form-group">
      <a href="{{this._loginService.apiURL}}auth/google"><img src="./assets/buttons/logingoogle.png" alt="Acceder con Google"></a>
    </div>
    <div class="form-group">
      <a href="{{this._loginService.apiURL}}auth/facebook"><img src="./assets/buttons/loginfacebook.png" alt="Acceder con Facebook"></a>
    </div>
    </div>
  </div>
</div>
-->

<div class="login-page">
<h2 class="title">Bienvenido a Gardiot</h2>

  <div class="form">
    <form class="register-form">
      <input [(ngModel)]="user.id" name="id"
            type="email" aria-describedby="emailHelp" placeholder="Email" required>
      <input [(ngModel)]="user.password" name="password"
            type="password" placeholder="Contraseña" required>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>

    <form class="login-form" (ngSubmit)="guardar()" #forma="ngForm">
      <input [(ngModel)]="user.id" name="id"
            type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
      <input [(ngModel)]="user.password" name="password"
            type="password"  id="exampleInputPassword1" placeholder="Contraseña" required>
      <button [disabled]="!forma.valid"
            type="submit"><img src="./assets/buttons/login.png" alt="Iniciar sesión"></button>

      <a href="{{this._loginService.apiURL}}auth/google"><img src="./assets/buttons/logingoogle.png" alt="Acceder con Google"></a>

        <a href="{{this._loginService.apiURL}}auth/facebook"><img src="./assets/buttons/loginfacebook.png" alt="Acceder con Facebook"></a>

      <p class="message">¿Olvidaste tu contraseña? <a href="#" [routerLink] ="['/resetPass']">Recordar contraseña</a></p>
    </form>
  </div>
</div>

<div class="fondo">
</div>
