<div class="container">
  <h1>Resetear contraseña</h1>

  <section>
    <p>Estas a punto de resetear tu contraseña. Introduce tu email con el que te registraste y te enviaremos un link a tu correo electrónico para poder hacerlo.
     Recuerda que sólo tienes unas pocas horas para ello.</p>
  </section>

  <form #f="ngForm" (ngSubmit)="resetPass(f)">
    <div class="form-group">
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="first" ngModel required #first="ngModel">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button [routerLink]="['/profile']" class="btn btn-outline-danger">Cancelar</button>
  </form>
  <br>
  <button [routerLink]="['/reset-pass-back']"  class="btn btn-primary">passBack</button>
</div>
