<div class="vistaAdmin">
  <div class="container main-container wrap">
    <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
      <article class="form-group col-md-4">
        <input type="text" [(ngModel)]="feed.name" class="form-control" name="name" placeholder="Título">
      </article>
      <article class="form-group col-md-6">
        <button class="btn btn-outline-success search" type="submit"><i class="material-icons">search</i></button>
        <button data-toggle="collapse" data-target="#demo" class="btn btn-outline-info search"><i class="material-icons">filter_list</i></button>
      </article>
      <article class="form-group col-md-2 nav justify-content-end">
        <button [routerLink]="['/admin/newfeed']" class="btn btn-outline-primary search"><i class="material-icons">add_circle</i></button>
      </article>
    </form>
    <div id="demo" class="collapse">
      <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
          <div class="form-group col-md-4">
            <label for="content">Texto</label>
            <input type="text" [(ngModel)]="feed.text" class="form-control" id="content" name="content">
          </div>
          <div class="form-group col-md-4">
            <label for="inicio">Inicio</label>
            <input type="date" [(ngModel)]="feed.dateInit" class="form-control" id="inicio" name="inicio">
          </div>
          <div class="form-group col-md-4">
            <label for="fin">Fin</label>
            <input type="date" [(ngModel)]="feed.dateFinal" class="form-control" id="fin" name="fin">
          </div>
          <div class="form-group col-md-12S">
            <button class="btn btn-default" type="submit">Filtrar</button>
          </div>

      </form>
    </div>
    <table class="table table-hover" *ngIf="numeroItems!=0">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Texto</th>
          <th scope="col">Fecha Inicial</th>
          <th scope="col">Fecha Final</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feed of feeds">
          <th scope="row">{{feed.name}}</th>
          <td>{{feed.text}}</td>
          <td>{{feed.dateInit | date}}</td>
          <td>{{feed.dateFinal| date}}</td>
          <td><button class="btn btn-outline-primary" [routerLink]="['/admin/editfeed/',feed.id]"><i class="material-icons">mode_edit</i></button></td>
          <td><button class="btn btn-outline-danger" (click)="openDialog(feed.id,3)"><i class="material-icons">delete</i></button></td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="numeroItems==0">Esta busqueda no tiene resultados</p>
    <app-pagination [count]="this.numeroItems" [type]="5" [page]="this.paginaActual" [perPage]="this.elementosPorPagina" [pagesToShow]="3" [loading]="false"></app-pagination>
  </div>
</div>
