.search{
  border: none;
  color: #63d297;
}
.search:hover{
  background-color: #63d297;
  color: #fff;
}
.search:visited{
  background-color: #63d297;
  color: #fff;
}

.myicon{
  /* color:#63d297 !important;
  background-color: red; */
}
.calendar{
  width: 100%;
  min-height: 90px !important;
}
