.search{
  border: none;
  color: #63d297;
}
.search:hover{
  background-color: #63d297;
  color: #fff;
}
a{
  color: red;
}

.ng-tns-c3-6{
  background-color: red;
}


.ng-star-inserted {
    background-color: red;
}
