div {
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 1em;
  text-align: center;
}

mat-dialog-actions {
  padding: 0.2em;
  ;
}

ul {
  width: 100%;
}

button {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  div {
    padding: 0.2em;
  }
  a, button, p, label {
    font-size: 10px;
  }
  h4 {
    font-size: 15px;
  }
  .img1 {
    width: 30%;
    height: 50%;
  }
  .img2 {
    width: 70%;
    height: 80%;
  }
}
