<div>
  <section>
    <h4>Información básica</h4>
    <p>Lo primero es poner un bonito nombre y dimensiones de tu pequeño paraiso </p>
    <form (ngSubmit)="onCloseConfirm()" #forma="ngForm" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <img src="{{photoURL}}/images/imgGardiot/nombre.PNG" class="rounded mx-auto d-block img-circle" width="40%" height="60%" alt="Logo">
          <label for="title">Nombre jardín</label>
          <input class="form-control" type="text" [(ngModel)]="garden.title" name="title" id="title_garden" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <img src="{{photoURL}}/images/imgGardiot/tamanyo.png" class="rounded mx-auto d-block" width="80%" height="90%" alt="Logo">
        </div>
        <div class="form-group col-md-6">
          <label for="length">Largo: {{garden.length===undefined ? 6 : garden.length}}m</label>
          <input class="form-control" type="range" [(ngModel)]="garden.length" min="2" max="9" step="1" name="length" id="length_garden" required>

          <label for="width">Ancho: {{garden.width===undefined ? 6 : garden.width}}m</label>
          <input class="form-control" type="range" [(ngModel)]="garden.width" min="2" max="9" step="1" name="width" id="width_garden" required>
        </div>
      </div>
    </form>
    <mat-dialog-actions>
      <ul class="nav justify-content-end">
        <li class="nav-item"><button mat-raise-button (click)="onCloseConfirm()" type="button" class="btn btn-success" href="#">Siguiente</button></li>
      </ul>

    </mat-dialog-actions>
  </section>
</div>
