div{
  width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,0.1);
  padding: 1em;
  text-align: center;
}

mat-dialog-actions{
padding: 0.2em;;
}
ul{
  width: 100%;
}
button{
margin: auto;
}
div{
  padding: 1.2em;
}
