<div class="main-container">
  <section class="herramienta">
    <ul class="nav superior">
      <li class="nav-item">
        <button [routerLink]="['/editgarden']" class="btn btn-success">Plantas</button>
      </li>
    </ul>
    <canvas id="myCanvas" oncontextmenu="return false;" onmousemove="mouse_move(event, 'detail');" onmousedown="mouse_down(event, 'detail');" onmouseup="mouse_up(event, 'detail');" onmousewheel="scrolling(event, 'detail');" width="1800" height="1200"></canvas>
    <ul class="nav justify-content-end inferior">
      <li class="nav-item">
        <button [routerLink]="['/editgarden']" class="btn btn-success">Editar</button>
      </li>
    </ul>

  </section>

  <section class="container title">
    <h1>{{garden.title}}</h1>

  </section>

</div>




<div class="container main-container">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name_plant">Plantas</label>
      <select class="form-control selectpicker" multiple id="name_plant" [(ngModel)]="plant" name="plant">
               <option *ngFor="let plant of plants" value="{{plant.id}}">{{plant.commonName}}</option>
             </select>
    </div>
  </div>



  <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
  <button [routerLink]="['/detail']" class="btn btn-outline-danger">Cancelar</button>

</div>
