.title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title>button{
  height: 40px;
}
.herramienta{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  padding: 0;
  border-style: solid;
  /* border-color: #63dd63; */
  background-color: #63dd63;
}
.herramienta>canvas{
  width: 100%;
  height: 100%;
}


.prevision{
  margin-top: 1em;
}

.tiempo{
  margin-top : 1em;
  margin-left, margin-right: 30px%;
  /*padding: 1em;*/
}

.tarjetaHoy{
  margin-top : 2em;
  margin-left, margin-right: 30px%;
  padding: 1em;
  width: 250px;
  background-color:#63dd63;
}

.hoy{
  font-size : 2em;

}


.casilla{
  padding-top:.5em;
  padding-bottom:.5em;
  max-width: 100px;
  margin-left, margin-right:.3em;
  text-align: center;
}
/*.casilla:nth-child(even){
  background-color:#63dd63;
}
.casilla:nth-child(odd){
  background:#fcfcfc;
}*/

.maxima{
  font-size : 1em;
}
.minima{
  font-size : 0.8em;
  color: gray;
}





h1, h2{
  text-align: center;
}
.inferior{
  margin-top: -2.8em;
  margin-right: 0.2em;
  z-index: 99999;
}
.superior{
  margin-top: 0.3em;
  margin-left: 0.2em;
  z-index: 99999;
  position: absolute;
}
