<div class="vistaAdmin">
  <div class="container main-container wrap">
    <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
      <article class="form-group col-md-4">
        <input type="text" [(ngModel)]="treatment.name" class="form-control" name="name" placeholder="Nombre">
      </article>
      <article class="form-group col-md-6">
        <button class="btn btn-outline-success search" type="submit"><i class="material-icons">search</i></button>
        <button data-toggle="collapse" data-target="#demo" class="btn btn-outline-info search"><i class="material-icons">filter_list</i></button>
      </article>
      <article class="form-group col-md-2 nav justify-content-end">
        <button [routerLink]="['/admin/newtreatment']" class="btn btn-outline-primary search"><i class="material-icons">add_circle</i></button>
      </article>
    </form>
    <div id="demo" class="collapse">
      <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
        <label for="content">Descripción</label>
        <input type="text" [(ngModel)]="treatment.description" class="form-control" id="content" name="content" placeholder="Contenido">
        <button class="btn btn-default" type="submit">Filtrar</button>
      </form>
    </div>
    <table class="table table-hover" *ngIf="numeroItems!=0">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let treatment of treatments">
          <th scope="row">{{treatment.name}}</th>
          <td>{{treatment.description}}</td>
          <td><button class="btn btn-outline-primary" [routerLink]="['/admin/edittreatment/',treatment.id]"><i class="material-icons">mode_edit</i></button></td>
          <td><button class="btn btn-outline-danger" (click)="openDialog(treatment.id,2)"><i class="material-icons">delete</i></button></td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="numeroItems==0">Esta busqueda no tiene resultados</p>
    <app-pagination [count]="this.numeroItems" [type]="2" [page]="this.paginaActual" [perPage]="this.elementosPorPagina" [pagesToShow]="3" [loading]="false" (onPrev)="prevPage()" (onNext)="nextPage()" (onPage)="goToPage($event)"></app-pagination>
  </div>
