<div>
  <section>
    <h4>¡Bienvenido a Gardiot!</h4>
    <p>Vamos a crear tu jardín</p>
    <form (ngSubmit)="newGarden()" #forma="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title">Nombre</label>
          <input class="form-control" type="text" [(ngModel)]="garden.title" name="title" id="title_garden" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="length">Largo {{garden.length===undefined ? 19 : garden.length}}</label>
          <input class="form-control" type="range" [(ngModel)]="garden.length" min="7" max="31" step="2" name="length" id="length_garden" required>
        </div>
        <div class="form-group col-md-6">
          <label for="width">Ancho {{garden.width===undefined ? 19 : garden.width}}</label>
          <input class="form-control" type="range" [(ngModel)]="garden.width" min="7" max="31" step="2" name="width" id="width_garden" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" ng-init="listarPaises()">
          <label for="countries">País</label>
          <select2 id="pais" [data]="countryData | async" [value]="startCountry | async" (valueChanged)="this.saveCountry($event)">
          </select2>
        </div>
        <div class="form-group col-md-4">
          <label for="countries">Código postal</label>
          <input class="form-control" type="text" id="zipCode" (valueChanged)="this.saveCity($event)" />
        </div>
        <div class="form-group col-md-4">
          <label for="countries">Ciudad</label>
          <span id="ciudad"></span>
        </div>
      </div>

    </form>
    <mat-dialog-actions>
      <button mat-raise-button (click)="onCloseConfirm()" type="button" class="btn btn-success" href="#">Crear</button>
    </mat-dialog-actions>
  </section>
</div>
