div{
    width: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,0.1);
    padding: 1.5em;
    text-align: center;
}
mat-dialog-actions{
padding: 2.5px;
}
ul{
  width: 100%;
}
li{
  margin-left: 0.2em;
}
button{
margin: auto;
}
a.inline{
  font-size: .9em;
}
