.title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title>button{
  height: 40px;
}
.herramienta{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  padding: 0;
}
.herramienta>canvas{
  width: 100%;
  height: 100%;
}

#prevision{
  position: absolute;
  top: 100px;
  left: 0;
  max-width: 200px;
  /*top: 50%;
  transform: translateY(-50%);*/
  color: #fff;
  transition: .3s ease-in all;
}


#prevision>span{
  position: absolute;
  top: -30px;
  left: 0;
  cursor: pointer;
}

.previsionClosed{
  left: -250px !important;
}
.previsionClosed>span:last-of-type{
  position: absolute;
  left: 250px !important;
  display: inline-block !important;
}

.interactiveButton{
  cursor: pointer;
}

.tiempo{
  color:#000;
  margin-top : 0;
  /*padding: 1em;*/
}
.headTiempo{
  padding: 5px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 5px;
  text-align: center;
  background-color: #d3ed44;
  color: #3e3e3e;
}
.today{
  min-height: 80px;
  position: relative;
  padding-left: 10px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 5px;
}
.today>img{
  position:absolute;
  top: 10px;
  right: 10px;
  width: 40px;

}
.today>p{
  margin: 0;
}
.today>span{
  color: #3e3e3e;

}

.tarjetaHoy{
  margin-top : 2em;
  padding: 1em;
  max-width: 200px;
  background-color:#63dd63;
}

.hoy{
  font-size : 2em;

}


.casilla{
  padding-top:.5em;
  padding-bottom:.5em;
  max-width: 100px;
  margin-left, margin-right:.3em;
  text-align: center;
}
/*.casilla:nth-child(even){
  background-color:#63dd63;
}
.casilla:nth-child(odd){
  background:#fcfcfc;
}*/

.maxima{
  color: #3e3e3e;
  font-size : 2em;
  font-weight: bold;
}
.minima{
  font-size : 0.8em;
  color: #3e3e3e;
}



.formulario{
 position: fixed;
 z-index: 20;
 padding: 0 30px 10px 30px;
 top: 100px;
 right: 0;
 width:240px;

 height: auto;
 background-color: #fff;
 border-top-left-radius: 15px;
 border-bottom-left-radius: 15px;
transition: .3s ease-in all;
}

.infoOcult{
  right: -240px;
}

.formulario>i{
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}
label{
  margin-bottom: 0;
  margin-top: 10px;
}

h1, h2{
  text-align: center;
}


.toggleDeko{
  background: url('../../../../assets/images/icon/buttons.png');
  /*background: url('https://gardiot.ovh/app/assets/images/icon/buttons.png');*/
}


/*buttons*/
.litButtons{
  position: fixed;
  width: 40px;
  height: 315px;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
}
.litButton{
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin:0;
  cursor:pointer;
}
.litButton:not(:last-of-type){
  margin-bottom: 15px;
}

.red{
  background-color: rgb(226, 0, 26);
}
.orange{
  background-color: #ef7f00;
}
.yellow{
  background-color: #0036ff;
}
/*end buttons*/

/*Additional buttons*/
.rotButton{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  border: none;
  width: 100px;
  background: none;
  z-index: 15;
}
.rotButton>img{
  width: 100%;
}

.superior{
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 99999;
}

ul, li{
  margin-top: 0.4em;
}


body{
  padding: 0 !important;
}
.borrar{
  margin-top: 1em;
}
.canvasEvolver{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index:0;
}
canvas{
margin: 0;
padding: 0;
width: 100% !important;
height: 100% !important;

}
button{
  min-height: 40px;
}


.selectPlantas{
  position: absolute;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height:100%;
  overflow-y: auto;
  top: 61px;
  left: 0;
  bottom: 0;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  z-index:1;
}

 .selectPlantas>article{
   min-width: 110px;
   min-height: 200px;
   margin-top: 5px;
 }

 .selectPlantas>article>.imgPlant{
   width: 100%;
   height: 180px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   border: 2px solid #000;
   cursor: pointer;
 }



 .boton-container{
  position: absolute;
  width: 150px;
  text-align:center;
  padding: 5px;
  background-color: #fff;
  z-index: 2;
 }

 .botonera{
   position: absolute;
   height: 300px;
   width: 100px;
   z-index: 10;
   bottom: 100px;
   right: 20px;
 }

 .search{
   margin-top: -3em;
   margin-left: 5em;
 }
