
<div class="canvasEvolver" onmousemove="mouse_move(event)" onmouseup="mouse_up(event);">
  <!-- <form (ngSubmit)="this.searchcontent(1,5)" class="form-row superior" #forma="ngForm" *ngIf="visible == 1" >
    <article class="search">
      <input type="text" [(ngModel)]="plant.commonName" class="form-control" name="commonName" placeholder="Buscar en gardiot">
    </article>
    <article class="searchbutton">
      <button class="btn btn-default" type="submit">Buscar</button>
    </article>
  </form> -->
  <!--<div style="position: absolute; margin: 200px; " (click)="this.openDialog2()">Popup jardines</div>-->
  <nav class="plantsMenu" *ngIf="visible == 1">
    <form (ngSubmit)="this.searchcontent(1,5)" #forma="ngForm">
        <input type="text" [(ngModel)]="searchPlant"  name="commonName" id="commonName" placeholder="Buscar plantas">
    </form>
    <section class="list">
  
  
    <ul>
      <li *ngFor="let plantmotor of plantsmotor" value="{{plantmotor.id}}" draggable="true" ondragstart="drag(event);">
      <div>
        <img src="{{plantmotor.photo}}" id="{{plantmotor.id+'-'+plantmotor._3DModel}}" alt="planta">
      </div>
      <span>{{plantmotor.commonName}}</span>
  
      </li>
    </ul>
  </section>
  <app-pagination class="cursorPaginas" [count]="this.numeroItems" [type]="6" [page]="this.paginaActual" [perPage]="this.elementosPorPagina" [pagesToShow]="3" [loading]="false"></app-pagination>
  </nav>
  <canvas id="myCanvas" oncontextmenu="return false;" onmousedown="mouse_down(event);" onmousewheel="scrolling(event);" ondrop="drop(event);" ondragover="allowDrop(event); dragCanvas(event);" width="1800" height="1170"></canvas>
  <section id="formulario" oncontextmenu="return false;" class="formulario infoOcult" *ngIf="!mobile">
    <i class="material-icons mobile" onclick="closeEditMobile(event)">close</i>
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <form (ngSubmit)="edit()" onsubmit="closeWeatherMobile(event)" #forma="ngForm" novalidate="">
          <div class="form-group">
            <div>
              <label for="title"><b>Título:</b> </label>
              <input class="form-control" type="text" [(ngModel)]="garden.title" name="title" id="title_garden" required>
            </div>
            <div>
              <label for="length"><b>Largo:</b> {{length}} metros</label>
              <input class="form-control" type="range" [(ngModel)]="length" min="2" max="9" step="1" name="length" id="length_garden" required>
            </div>
            <div>
              <label for="width"><b>Ancho:</b> {{width}} metros</label>
              <input class="form-control" type="range" [(ngModel)]="width" min="2" max="9" step="1" name="width" id="width_garden" required>
            </div>
            <div>
              <label for="countries"><b>País:</b></label>
              <br>
              <select2 id="pais" [width]="select2Width()" [data]="countryData | async" [value]="startCountry | async" (valueChanged)="this.saveCountry($event)">
              </select2>
            </div>
            <div>
              <label for="countries"><b>Código postal:</b></label>
              <input class="form-control" type="text" id="zipCode" (valueChanged)="this.saveCity($event)" />
            </div>
            <div>
              <label for="countries"><b>Ciudad:</b> {{city}}</label>
            </div>
          </div>
          <button type="submit" class="btn">Actualizar</button>
        </form>
      </div>
    </div>
  </section>
  <div class="toggleDeko litButton" id="del" onmouseup="deletePlant(event)" ondragover="allowDrop(event);" ondrop="disableDragging(event)" [hidden]="isDragging()" >
    <img src="{{photoURL}}/images/icon/rubbish.png" alt="rubbish" />
  </div>
  <section class="litButtons">

        <div class="toggleDeko litButton desplegable" id="plt"
    onclick="openWeather(this)" *ngIf="haveWeather == true">
      <i class="material-icons">cloud</i> <span>Previsión</span> <i style="visibility:hidden" onclick="closeWeather(event, this)" class="material-icons">close</i>
    </div>
    <div class="toggleDeko litButton desplegable" id="edit"
    onclick="openInfo(this);">
    <i class="material-icons">
      border_color
      </i> <span>Editar datos</span> <i style="visibility:hidden" onclick="closeEdit(event, this)" class="material-icons">close</i>
    </div>
      <div class="toggleDeko litButton desplegable" id="plt" onclick="openEditor(this)" (click)="this.toggleState()">
        <i class="material-icons">
          switch_camera
          </i> <span>Cambiar modo</span><i style="visibility:hidden" class="material-icons">close</i>
        </div>



    <div class="toggleDeko litButton big" id="plus" onclick="plusZoom()">
      <i class="material-icons">
        add
        </i> 
    </div>
    <div class="toggleDeko litButton big" id="sub" onclick="subZoom()">
      <i class="material-icons">
        remove
        </i> 
    </div>
    <div class="toggleDeko litButton desplegable" id="help" onclick="openHelp()" (click)="this.openDialog(1, 2)">
      <i class="material-icons">
        help_outline
        </i> <span>Ayuda</span><i style="visibility:hidden" class="material-icons">close</i>
    </div>

  </section>
  <div id="prevision" class="previsionClosed" *ngIf="haveWeather == true" oncontextmenu="return false;">
    <i class="material-icons mobile" onclick="closeWeatherMobile(event)">close</i>
    <div class="tiempo">
      <div class="headTiempo">
        <h4>{{tiempoCity}}</h4>
      </div>
      <div class="today" [ngStyle]="getMyStyles(temperatura, this.statusHoy)">
        <p><span class="maxima">{{temperatura | number:'.0-0'}}º</span></p>
        <span>Ahora</span>
        <img src="{{photoURL}}/images/imgWeather/{{fotoHoy}}.png">
      </div>
      <div class="no today" [ngStyle]="getMyStyles(maxMan, this.statusMan)">
        <p><span class="maxima">{{maxMan | number:'.0-0'}}º</span> <span class="minima">{{minMan | number:'.0-0'}}º</span></p>
        <span>Mañana</span>
        <img src="{{photoURL}}/images/imgWeather/{{fotoMan}}.png">
      </div>
      <div class="no today" [ngStyle]="getMyStyles(maxDia3, this.statusDia3)">
        <p><span class="maxima">{{maxDia3 | number:'.0-0'}}º</span> <span class="minima">{{minDia3 | number:'.0-0'}}º</span></p>
        <span>{{nombreDia3}}</span>
        <img src="{{photoURL}}/images/imgWeather/{{fotoDia3}}.png">
      </div>
      <div class="no today" [ngStyle]="getMyStyles(maxDia4, this.statusDia4)">
        <p><span class="maxima">{{maxDia4 | number:'.0-0'}}º</span> <span class="minima">{{minDia4 | number:'.0-0'}}º</span></p>
        <span>{{nombreDia4}}</span>
        <img src="{{photoURL}}/images/imgWeather/{{fotoDia4}}.png">
      </div>
      <div class="no today" [ngStyle]="getMyStyles(maxDia4, this.statusDia5)">
        <p><span class="maxima">{{maxDia5 | number:'.0-0'}}º</span> <span class="minima">{{minDia5 | number:'.0-0'}}º</span></p>
        <span>{{nombreDia5}}</span>
        <img src="{{photoURL}}/images/imgWeather/{{fotoDia5}}.png">
      </div>
    </div>
  </div>
</div>

<!--<button class="rotButton"><img src="{{photoURL}}/images/icon/rotation.png" alt="Rotate"></button>-->
