.title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title>button{
  height: 40px;
}
.herramienta{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  padding: 0;
}
.herramienta>canvas{
  width: 100%;
  height: 100%;
}

.tiempo{
  margin-top : 2em;
  /*padding: 1em;*/
}


.casilla{
  padding-top:.5em;
  padding-bottom:.5em;
  margin-left, margin-right:.3em;
  text-align: center;
}
.casilla:nth-child(even){
  background:#cecece;
}
.casilla:nth-child(odd){
  background:#fcfcfc;
}

h1, h2{
  text-align: center;
}
