.title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title>button{
  height: 40px;
}
.herramienta{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  padding: 0;
}
.herramienta>canvas{
  width: 100%;
  height: 100%;
}

#prevision{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 100px;
  left: 0;
  min-width: 180px;
  max-width: 180px;
  /*top: 50%;
  transform: translateY(-50%);*/
  color: #fff;
  transition: .3s ease-in all;
}


#prevision>i{
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  font-size: 2em;
  z-index: 30;
  transition: .3 ease-in all;
}

.previsionClosed{
  left: -250px !important;
}
.previsionClosed>span:last-of-type{
  position: absolute;
  left: 250px !important;
  display: inline-block !important;
}

.interactiveButton{
  cursor: pointer;
}

.tiempo{
  color:#000;
  margin-top : 2em;
  padding: 1em;
}
.headTiempo{
  padding: 0.3em;
  text-align: center;
  color: #fff;
  font-size: 10px;
}
.today{
  min-height: 80px;
  position: relative;
  padding-left: 0.5em;
  border-radius: 25px;
  margin-top: 1em;

}
.today>img{
  position:absolute;
  top: 1em;
  right: 1em;
  width: 35px;
  margin-left: 1em;
}
.today>p{
  margin: 0;
}
.today>span{
  color: #3e3e3e;

}

.tarjetaHoy{
  margin-top : 2em;
  padding: 1em;
  max-width: 200px;
  background-color:#63dd63;
}

.hoy{
  font-size : 2em;

}


.casilla{
  padding-top:.5em;
  padding-bottom:.5em;
  max-width: 100px;
  margin-left: .3em;
  margin-right:.3em;
  text-align: center;
}
/*.casilla:nth-child(even){
  background-color:#63dd63;
}
.casilla:nth-child(odd){
  background:#fcfcfc;
}*/

.maxima{
  color: #3e3e3e;
  font-size : 2em;
  font-weight: bold;
}
.minima{
  font-size : 0.8em;
  color: #3e3e3e;
}




  .formulario{

    background: rgba(0, 0, 0, 0.5);

    color: #fff;


 position: fixed;
 z-index: 20;
 padding: 0 1.6em 0.9em 1.6em;
 top: 6em;
 right: 0;
 width:14em;
 height: auto;

 border-radius: 15px;
 margin-right: 1em;
 transition: .3s ease-in all;
}

.infoOcult{
  right: -240px;
}

.formulario>i{
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
  color: #fff;
}
label{
  margin-bottom: 0;
  margin-top: 10px;
}

h1, h2{
  text-align: center;
}


.toggleDeko{
  /*background: url('../../../../assets/images/icon/buttons.png');*/
  /*background: url('https://gardiot.ovh/app/assets/images/icon/buttons.png');*/
}


/*buttons*/
.litButtons{
  position: fixed;
  width: 40px;
  height: 315px;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.litButton{
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin:0;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;
}
.litButton>img{
  width: 80%;
  margin: 10%;
}
.litButton>i{
  color: #fff;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-top: 7px;

}
.litButton:not(:last-of-type){
  margin-bottom: 15px;
}

.red{
  background-color: rgb(226, 0, 26);
}
.orange{
  background-color: #ef7f00;
}
.yellow{
  background-color: #0036ff;

}
/*end buttons*/

/*Additional buttons*/
.rotButton{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  border: none;
  width: 100px;
  background: none;
  z-index: 15;
}
.rotButton>img{
  width: 100%;
}

body{
  padding: 0 !important;
}
.borrar{
  margin-top: 1em;
}
.canvasEvolver{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index:0;
}
canvas{
margin: 0;
padding: 0;
width: 100% !important;
height: 100% !important;

}
button{
  min-height: 40px;
}


.selectPlantas{
  position: absolute;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height:100%;
  overflow-y: auto;
  top: 61px;
  left: 0;
  bottom: 0;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  z-index:1;
}

 .selectPlantas>article{
   min-width: 110px;
   min-height: 200px;
   margin-top: 5px;
 }

 .selectPlantas>article>.imgPlant{
   width: 100%;
   height: 180px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   border: 2px solid #000;
   cursor: pointer;
 }



 .boton-container{
  position: absolute;
  width: 150px;
  text-align:center;
  padding: 5px;
  background-color: #fff;
  z-index: 2;
 }

/* Mariano */

ul{
  margin-top: 0.7em;
  padding: 0;
  width: 75%;
}
li{
  padding: 0.3em;
}

.search{
  margin-top: 0.7em;
  margin-left: 0.5em;
}
.search2{
    border: none;
}
.searchbutton{
  margin-top: 0.5em;
  margin-left: 0.2em;
    border: none;
}

.superior{
  position: absolute;
  top: 5em;
  left: 0;
  z-index: 99999;
  padding: 0.5em;
}

/* efecto de imagen */
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 70px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    margin-top: 1em;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 8px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    margin: 10px 0 0 0
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(255,178,0, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
	transform: scale(1.1);
  box-shadow: 1px 1px 9px #ffb200;
}
.view-first:hover .mask {
	opacity: 1;
}
.view-first:hover h2 {
    opacity: 1;
    transform: translateY(0px);
}




/* fin Mariano */






@media (max-width: 600px) {

  .litButtons{
    width: 100%;
    min-height: 61px;
    height: 61px;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: row;
  }
  .litButton{
    color: #fff;
    border-radius: 0px;
    width: 20%;
    height: 61px;
    margin:0;

  }
  .litButton:not(:last-of-type){
    border-right: .1em solid #fff;
  }
  .litButton>img{
    width: 30px;
    height: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;

  }
  .litButton>i{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;

  }

  #prevision{
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 61px;
    margin: 10%;
    min-width: 80%;
    bottom: 61px;
    overflow-y: scroll;
    /*top: 50%;
    transform: translateY(-50%);*/
    color: #fff;
    transition: .3s ease-in all;
    z-index: 21;
  }
  
  #prevision>span:last-of-type{
    display: none !important;
  }
  
  #prevision>i{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    font-size: 2em;
    z-index: 30;
    transition: .3 ease-in all;
  }
  
  .previsionClosed{
    left: -1000px !important;
  }
  .previsionClosed>span:first-of-type{

    left: -1000px !important;
  }
  .previsionClosed>span:last-of-type{
    position: absolute;
    left: 3px !important;
    display: inline-block !important;
  }

  .interactiveButton{
    cursor: pointer;
  }
  
  .tiempo{
    color:#000;
    margin-top : 0;
    padding: 1em;
  }
  .headTiempo{
    padding: 0.3em;
    text-align: center;
    color: #fff;
    font-size: 10px;
  }
  .today{
    min-height: 80px;
    position: relative;
    padding-left: 0.5em;
    border-radius: 18px;
    margin-top: 1em;
  
  }
  .today>img{
    position:absolute;
    top: 1em;
    right: 1em;
    width: 35px;
    margin-left: 1em;
  }
  .today>p{
    margin: 0;
  }
  .today>span{
    color: #3e3e3e;
  
  }
  
  .tarjetaHoy{
    margin-top : 2em;
    padding: 1em;
    max-width: 200px;
    background-color:#63dd63;
  }
  
  .hoy{
    font-size : 2em;
  
  }


  /*formulario lateral derecho*/
  .formulario{
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 61px;
    margin: 10%;
    min-width: 80%;
    bottom: 61px;
    overflow-y: scroll;
    padding-top: 1em;
    /*top: 50%;
    transform: translateY(-50%);*/
    color: #fff;
    transition: .3s ease-in all;
    z-index: 21;
   }
   
   .infoOcult{
     right: -1000px;
   }
   
   .formulario>i{
     position: absolute;
     top: -30px;
     right: 0;
     cursor: pointer;
     color: #fff;
   }
   label{
     margin-bottom: 0;
     margin-top: 10px;
   }
   
   h1, h2{
     text-align: center;
   }

   .toggleDeko.litButton.red{
     position: absolute;
     bottom: 71px;
     left: 10px;
     width: 50px;
     height: 50px;
     border-radius: 25px;

   }

   #formulario>i{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    font-size: 2em;
    z-index: 30;
    transition: .3 ease-in all;
  }

}
