<section class="herramienta">
<canvas id="myCanvas" onmousemove="mouse_move(event, 'detail');" onmousedown="mouse_down(event, 'detail');" onmouseup="mouse_up(event, 'detail');" onmousewheel="scrolling(event, 'detail');" width="1800" height="1200"></canvas>
</section>
<div class="main-container">

  <section class="container title">
      <h1>{{garden.title}}</h1>
      <button [routerLink]="['/editgarden']" class="btn btn-outline-primary">Editar</button>
  </section>
<section class="container">
  <article class="row">
    <div class="col">
      <h3 class="list-group-item">Tiempo en: {{garden.city}} </h3>
      <br>
      <p class="list-group-item"> Temperatura: {{temperatura}} ºC<p>
      <p class="list-group-item">{{cielo}}</p>

    </div>
    
  </article>

</section>
<section class="container" >
  <button class="btn" (click)="mostrarPrevision()">Ver previsión</button>
</section>

<section class="container" [hidden]="!notVisible">
  <article class="row">
    <div class="col">
        <h4>Tiempo hoy</h4>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item" *ngFor = "let time of prevHoy">
        {{time.dt * 1000 | date:'shortTime'}} <span>{{time.main.temp - 273 | number:'.0-0'}} ºC</span> <img src="http://openweathermap.com/img/w/{{time.weather[0].icon}}.png" alt="{{time.weather[0].description}}" title="{{time.weather[0].description}}">
        </li>
      </ul>
    </div>
    <div class="col">
        <h4>Tiempo mañana</h4>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item" *ngFor = "let time of prevMan">
        {{time.dt * 1000 | date:'shortTime'}} <span>{{time.main.temp - 273 | number:'.0-0'}} ºC</span> <img src="http://openweathermap.com/img/w/{{time.weather[0].icon}}.png" alt="{{time.weather[0].description}}" title="{{time.weather[0].description}}">
        </li>
      </ul>
    </div>
    <div class="col">
        <h4>Tiempo {{tercerDia}}</h4>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item" *ngFor = "let time of prevPas">
        {{time.dt * 1000 | date:'shortTime'}} <span>{{time.main.temp - 273 | number:'.0-0'}} ºC</span> <img src="http://openweathermap.com/img/w/{{time.weather[0].icon}}.png" alt="{{time.weather[0].description}}" title="{{time.weather[0].description}}">
        </li>
      </ul>
    </div>
    </article>

</section>
</div>
