.title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title>button{
  height: 40px;
}
.herramienta{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  padding: 0;
}
.herramienta>canvas{
  width: 100%;
  height: 100%;
}

#prevision{
  position: absolute;
  color: #fff;
}

.tiempo{
  color:#000;
  margin-top : 1em;
  margin-left, margin-right: 30px%;
  /*padding: 1em;*/
}

.tarjetaHoy{
  margin-top : 2em;
  margin-left, margin-right: 30px%;
  padding: 1em;
  width: 250px;
  background-color:#63dd63;
}

.hoy{
  font-size : 2em;

}


.casilla{
  padding-top:.5em;
  padding-bottom:.5em;
  max-width: 100px;
  margin-left, margin-right:.3em;
  text-align: center;
}
/*.casilla:nth-child(even){
  background-color:#63dd63;
}
.casilla:nth-child(odd){
  background:#fcfcfc;
}*/

.maxima{
  font-size : 1em;
}
.minima{
  font-size : 0.8em;
  color: gray;
}

.formulario{
  height: auto;
  width: 250px;
  top: 160px;
  right: 160px;
}

.formulario{
 position: fixed;
 padding: 0 30px 10px 30px;
 top: 100px;
 right: 30px;
 width:240px;

 height: auto;
 background-color: #fff;

}

.formulario>i{
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}
label{
  margin-bottom: 0;
  margin-top: 10px;
}

h1, h2{
  text-align: center;
}


.toggleDeko{
  background: url('../../../../assets/images/icon/buttons.png');
  /*background: url('https://gardiot.ovh/app/assets/images/icon/buttons.png');*/
}


/*buttons*/
.litButtons{
  position: fixed;
  width: 40px;
  height: 315px;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
}
.litButton{
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin:0;
  cursor:pointer;
}
.litButton:not(:last-of-type){
  margin-bottom: 15px;
}

.red{
  background-color: rgb(226, 0, 26);
}
.orange{
  background-color: #ef7f00;
}
.yellow{
  background-color: #0036ff;
}
/*end buttons*/

/*Additional buttons*/
.rotButton{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  border: none;
  width: 100px;
  background: none;
  z-index: 15;
}
.rotButton>img{
  width: 100%;
}
