/* Julián Sánchez García.
   Ingeniería Multimedia UA 2018 */
@media (max-width: 580px) {
  .imagen{
    padding-bottom: 6%;
    padding-right: 2%;
    border-radius: 50%;
  }
}
/* FULLSCREEN */
.imagen {
  padding-right: 6%;
  max-width: 230px;
  border-radius: 5%;
}
section{
    /* margin-right: auto;
    margin-left: auto; */
    /* margin-top: 3%;
    margin-bottom: 3%; */
}

span{
  font-weight: bold;
  font-size: 2em;
}
mat-dialog-actions{
  padding: 2.5px;
}
/* button{
  margin: 3px;
} */
.producto{
  font-size: .8em;
  overflow-y: auto;
  max-height: 200px;
  overflow-x:hidden;
  text-align: justify;
  padding-left: 3%;

}
.tratamiento{
  text-align: justify;
  font-size: .9em;
}
.nombrePlanta{
  font-weight: bold;
  /* font-size: 1.2em; */
}
.cursiva{
  font-style: italic;
}
