.imagen {
  padding-right: 6%;
  max-width: 230px;
  border-radius: 5%;
}

span {
  font-weight: bold;
  font-size: 2em;
}

mat-dialog-actions {
  padding: 2.5px;
}

.producto {
  font-size: .8em;
  overflow-y: auto;
  max-height: 200px;
  overflow-x: hidden;
  text-align: justify;
  padding-left: 3%;
}

.tratamiento {
  text-align: justify;
  font-size: .9em;
}

.nombrePlanta {
  font-weight: bold;
}

.cursiva {
  font-style: italic;
}

@media (max-width: 580px) {
  .imagen {
    padding-bottom: 6%;
    padding-right: 2%;
    border-radius: 50%;
  }
}
