/* REGLAS */

div, section, article {
  /* border: 1px solid black; */
  padding: 1%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* CONTENDOR PRINCIPAL */

.container {
  margin-left: auto;
  margin-right: auto;
}

mat-panel-description {
  font-size: .8em;
}

mat-tab-group {
  margin-top: 1%;
  padding: 1%;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(255, 178, 0, .3);
}

mat-panel-title {
  font-weight: bold;
  font-size: 1em;
}

/* IMAGENES */

img {
  border-radius: 26px 26px 26px 26px;
  -moz-border-radius: 26px 26px 26px 26px;
  -webkit-border-radius: 26px 26px 26px 26px;
  border: 0px solid #eec019;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: block;
}

/* TEXTOS*/

.intro {
  text-align: center;
}

.titulo {
  margin-top: 2%;
  text-align: center;
}

p {
  font-size: .9em;
  text-align: justify;
  border-color: #25b5aa;
}

/* TERMINOS DE USO */

.terminos {
  font-size: .8em;
  text-align: justify;
}
