/* Julián Sánchez García.
   Ingeniería Multimedia UA 2018 */

div, section, article{
  border: 1px solid black;
}


img{
  /* border-radius: 20%; */
  border-radius: 26px 26px 26px 26px;
  -moz-border-radius: 26px 26px 26px 26px;
  -webkit-border-radius: 26px 26px 26px 26px;
  border: 0px solid #eec019;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;

}
p, li{
  font-size: .9em;
  text-align: justify;
}

ul, li{
  font-size: .9em;
  border-color: #25b5aa;
  text-decoration: none;
}
mat-panel-description{
  font-size: .8em;
  /* float: left; */
}

mat-tab-group{
  margin-top: 1%;
}

mat-panel-title{
  font-weight: bold;
  font-size: 1em;
}
