<div class="vistaAdmin vistaUser">

    <article class="row">

      <div class="col">
        <img *ngIf="plant.photo !=undefined" src="{{plant.photo}}" alt="{{plant.commonName}}" class="imagen">
      </div>

      <div class="col caracteristicas">
        <dl>
          <dt *ngIf="plant.commonName !=undefined">{{plant.commonName}}</dt>
          <dt *ngIf="plant.scientificName !=undefined">{{plant.scientificName}}</dt>
          <dd *ngIf="plant.family !=undefined"></dd>
          <dd *ngIf="plant.depth !=undefined"><img class="iconplant" src="assets/images/icon/descargar.png" alt="Profundidad de siembra" style="margin-right: 5px">{{plant.depth}} cm</dd>
          <dd *ngIf="plant.distance !=undefined"><img class="iconplant" src="assets/images/icon/separacion.png" alt="Separación de siembra" style="margin-right: 5px">{{plant.distance}} cm</dd>
          <dd *ngIf="plant.diseaseResist !=undefined"><img class="iconplant" src="assets/images/icon/hielo.png" alt="Hielo" style="margin-right: 5px">{{plant.diseaseResist}} º C</dd>
        </dl>
        <article class="fechas" class="row">
              <span *ngIf="iniSiembra !=undefined && finSiembra !=undefined" class="col-md-4"><img class="iconplant" src="assets/images/icon/siembra.png" alt="Siembra"><strong>{{iniSiembra}}</strong> - <strong>{{finSiembra}}</strong></span>
              <span *ngIf="iniFlores !=undefined && finFlores !=undefined" class="col-md-4"><img class="iconplant" src="assets/images/icon/girasol.png" alt="Floración"><strong>{{iniFlores}}</strong> - <strong>{{finFlores}}</strong></span>
              <span *ngIf="iniRecolectar !=undefined && finRecolectar !=undefined" class="col-md-4"> <img class="iconplant" src="assets/images/icon/cosecha.png" alt="Floración"><strong>{{iniRecolectar}}</strong> - <strong>{{finRecolectar}}</strong></span>
        </article>
      </div>
    </article>



    <article class="row description">
      <p *ngIf="plant.description !=undefined">{{plant.description}}</p>
    </article>

    <section class="tratamientos" *ngFor="let treatment of treatments">

      <span class="nombre" *ngIf="treatment.icon !=undefined && treatment.name !=undefined">
        <img class="iconplant" src="{{treatment.icon}}" alt="{{treatment.name}}">
        {{treatment.name}}
      </span>

        <p class="description" *ngIf="treatment.description !=undefined">{{treatment.description}}</p>

        <h6 *ngIf="treatment.id !== undefined">Productos</h6>
        <ul *ngFor="let producttreatment of productTreatments">
          <li *ngIf="treatment.id == producttreatment.treatment">{{producttreatment.name}}</li>
        </ul>

    </section>

</div>
