.iconplant{
  max-width: 30px;
  max-height: 30px;
  padding-right: 3%;
}
.caracteristicas{
  margin-left: 0;
}
.description{
  margin-top: 2%;
}
.list-group{
  padding: 0;
  margin: 0;
  font-size: .8em;
}
.imagen{
  min-width: 450px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 5%;
}
.nombre{
  font-weight: bold;
}
p.fechas{
  display: flex;
  margin-left: 0;
  align-items: left;
  text-align: left;
}
article{
  margin-right: auto;
  margin-left: auto;
}

div{
  border: 1px solid black;
  padding: 1%;
}

article{
  border: 1px solid black;
  padding: 1%;
}
section{
  border: 1px solid black;
  padding: 1%;

}

ul{
  max-width: 400px;
}
li{
  text-decoration: none;
  font-size: .9em;
}

.vistaUser{
  margin-right: 200px;
}
dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0
}
