/* Julián Sánchez García.
   Ingeniería Multimedia UA 2018 */

/* CONTENEDOR PRINCIPAL */
/* div{
  border: 1px solid green;
} */
.vistaUser{
  margin-right: 130px;
  margin-left: 130px;
}
.volver{
  margin-left: auto;
  margin-right: 0;
  display: block;
  text-align: center;
  margin-top: 2%;
}
.buttonAdmin{
  margin-top: 1em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding-left: 0.2em;
  padding-right: 0.2em;

}
.buttonAdmin button{
  margin-bottom: 45%
  /* border: none; */
}

article{
  margin-right: auto;
  margin-left: auto;
}
div,article,section{
  /* border: 1px solid black; */
  padding: 1%;
}

/*  IMAGENES ICONOS */
.iconoProducto{
  max-width: 30px;
  max-height: 30px;
  margin-right: 3%;
}
.iconplant{
  max-width: 30px;
  max-height: 30px;
  /* min-width: 25px;
  min-height: 25px; */
  padding-right: 3%;
}
.iconoTrata{
  max-width: 25px;
  height: 25px;
}
.imagen{
  min-width: 450px;
  max-width: 470px;
  min-height: 260px;
  max-height: 260px;
  border-radius: 5%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*  BLOQUE caracteristicas PLANTA */
dl.caracteristicas {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt.caracteristicas {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0
}
dd.caracteristicas {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0
}
.caracteristicas{
  margin-left: 0;
  text-align: center;
}
.nombreA{
  font-size: 2.5em;
}
.nombreB{
  font-size: 2em;
  font-style: italic;
}
.familia{
  font-size: 1.5em;
}
.prof{
  font-size: 1.2em;
}
.distance{
  font-size: 1.2em;
}
.resist{
  font-size: 1.2em;
}

.iconitos{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 140px;
}
.descriptionPlanta{
  margin-top: 2%;
  font-size: .9em;
  text-align: justify;
  padding: 15px;

  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* border: 1px solid #ffb200; */
  border: 1px solid rgba(255, 178, 0, .3);
}

/* FECHAS */
.fechas div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* TRATAMIENTOS */
.nombreTrata{
  font-weight: bold;
}
.descriptionTrata{
  font-size: .9em;
  /* border: 1px solid #ffb200; */
  text-align: justify;
}

/* PRODUCTOS */
ul{
  /* max-width: 400px; */
}
li{
  text-decoration: none;
  /* font-size: .9em; */
}
p.listaProductos{
  font-style: italic;
}

.productoTrata{
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* border: 1px solid #ffb200; */
  border: 1px solid rgba(255, 178, 0, .3);

  margin-top: 2%;

}
mat-panel{

}
mat-accordion{
  /* -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none; */
    /* border:none !important;
    outline:none; */
}
mat-expansion-panel{
  background-color: #f3f3f3;
  max-width: 20%;
  /* border:none !important;
  outline:none; */
}
mat-panel-title{
/* border:none !important;
outline:none; */
}
mat-expansion-panel-header{
  /* border:none !important;
  outline:none; */
}
