/* You can add global styles to this file, and also import other style files*/
.footer{
  position: relative;
  bottom:0;
  width:100%;
}
button{
  cursor: pointer;
}
.main-container{
  margin-top: 20px;
}

.msg{
  position: fixed;
  text-align: center;
  min-width: 300px;
  width: 20%;
  max-width: 20S%;
  top: 20%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.msg>button{
  margin: 0 auto;
  margin-top: 2em;
  max-width: 100px;
}
.table>thead>tr>th{
  max-width: 20px;
}
.background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.notification{
  width: 100%;
  min-width: 100%;
  text-align: center;
  border-radius: 0 !important;
}

.desarrollo{
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 300px;
  height: 60px;
  background-color: red;
  padding: .3em;
  border-radius: 5px;
  text-align: center;
}
.desarrollo>p{
  color: #fff;
}
