.search{
  border: none;
}

div{
  /* border: 1px solid green; */
  /* margin-right: 0;
  margin-left: auto;
  display: block;
  width: 45%; */
}

.btn{
  padding: 1%;
  margin-top: 3%;
}

label, input, select2{
  font-size: .9em;
  padding: 0;
  margin: 0;
}
.contra{
  /* display: inline-block; */
  width: 100%;
  /* float: right; */
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99,210,151, .3);
  padding: 1%;

}
label{
  font-style: italic;
}

.datos{
  width: 100%;
  /* margin-right: auto;
  margin-left: 0;
  display: inline-block; */
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99,210,151, .3);
  padding: 1%;

}
