.search {
  border: none;
}

.btn {
  padding: 1%;
  margin-top: 3%;
}

label, input, select2 {
  font-size: .9em;
  padding: 0;
  margin: 0;
}

.contra {
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99, 210, 151, .3);
  padding: 1%;
}

label {
  font-style: italic;
}

.datos {
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99, 210, 151, .3);
  padding: 1%;
}
