<div class="container main-container">
	<h1>Eventos</h1>
  <p>Aquí encontraremos dos secciones una para los consejos donde podremos listar los consejos y buscarlos por fecha y nombre para añadir, modificar o eliminar.
		 Por otra parte están las tareas que se buscarán por usuario para verlas o por planta para anyadir, modificar o eliminar.</p>

	<button [routerLink] ="['/admin/listfeeds']" class="btn btn-outline-primary" type="submit" name="button">Consejos</button>
	<button [routerLink] ="['/admin/task']" class="btn btn-outline-primary" type="submit" name="button">Tareas</button>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
