<div class="container main-container">
	<h1>Plantas</h1>

	<!-- <section class="container">
	  <div class="row animated fadeIn fast">
	    <div class="col-md-12">
	      <form  (ngSubmit)="this.guardar()" #forma="ngForm" novalidate="">
					<h2>datos básicos</h2>
					<div class="form-group">
						<label  for="name_plant">Nombre comun: </label>
						<input  type="text" [(ngModel)]="plant.commonName" name="name" id="name_plant" required>
					</div>
					<div class="form-group">
						<label  for="formal_name_plant">Nombre cientifico: </label>
						<input  type="text" [(ngModel)]="plant.scientificName" name="name" id="formal_name_plant" required>
					</div>
					<div class="form-group">
						<label  for="descp_plant">Descripcion: </label>
						<input  type="text" [(ngModel)]="plant.description" name="descp" id="descp_plant" required>
					</div>

					<h2>datos tecnicos</h2>
					<div class="form-group">
						<label  for="family_plant">Familia: </label>
						<input  type="text" [(ngModel)]="plant.family" name="family" id="family_plant" required>
					</div>
					<div class="form-group">
						<label  for="depth_plant">Profundidad: </label>
						<input  type="text" [(ngModel)]="plant.depth" name="depth" id="depth_plant" required>
					</div>
					<div class="form-group">
						<label  for="distance_plant">Distancia: </label>
						<input  type="text" [(ngModel)]="plant.distance" name="distance" id="distance_plant" required>
					</div>
					<div class="form-group">
						<label  for="resist_plant">Resistencia: </label>
						<input  type="text" [(ngModel)]="plant.diseaseResist" name="resist" id="resist_plant" required>
					</div>

					<h2>fecha de plantacion</h2>
				 <div class="form-group">
					 <label  for="date_initplant">Inico Fecha de plantacion: </label>
					 <input  type="date" [(ngModel)]="plant.initDatePlant" name="initplant" id="date_initplant">
				 </div>
				 <div class="form-group">
					 <label  for="date_endplant">Fin Fecha de plantacion: </label>
					 <input  type="date" [(ngModel)]="plant.finDatePlant" name="endplant" id="date_endplant">
				 </div>
				 <h2>fecha de floracion</h2>
				 <div class="form-group">
					 <label  for="date_initbloomplant">Inico Fecha de floracion: </label>
					 <input  type="date" [(ngModel)]="plant.initDateBloom" name="initbloomplant" id="date_initbloomplant">
				 </div>
				 <div class="form-group">
					 <label  for="date_endbloomplant">Fin Fecha de floracion: </label>
					 <input  type="date" [(ngModel)]="plant.finDateBloom" name="endbloomplant" id="date_endbloomplant">
				 </div>
				 <h2>fecha de cosecha</h2>
				<div class="form-group">
					<label  for="date_initharvestplant">Inico Fecha de cosecha: </label>
					<input  type="date" [(ngModel)]="plant.initDateHarvest" name="initharvestplant" id="date_initharvestplant">
				</div>
				<div class="form-group">
					<label  for="date_endharvestplant">Fin Fecha de cosecha: </label>
					<input  type="date" [(ngModel)]="plant.finDateHarvest" name="endharvestplant" id="date_endharvestplant">
				</div>
	        <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
	        <button [routerLink]="['/detail']" class="btn btn-outline-danger">Cancelar</button>
	      </form>
	    </div>
	  </div>
	</section>
</div> -->


<section class="container">
	<form (ngSubmit)="this.guardar()" #forma="ngForm" novalidate="">
		<h4>Datos Básicos</h4>
	  <div class="form-row">
	    <div class="col">
	      <input type="text" [(ngModel)]="plant.commonName" class="form-control" name="commonName" placeholder="Nombre común" required>
	    </div>
	    <div class="col">
	      <input type="text" [(ngModel)]="plant.scientificName" class="form-control" name="scientificName" placeholder="Nombre científico" required>
	    </div>
	  </div>
		<br>
		<!-- https://codepen.io/Sebus059/pen/MwMQbP -->
		<div class="form-group">
			<div class="input-group input-file" name="Fichier1">
		    <input type="text" class="form-control" name="_3DModel" id="_3DModel" placeholder='Seleccionar foto planta' />
				<span class="input-group-btn">
					<button class="btn btn-default btn-choose" type="button">Buscar</button>
				</span>
			</div>
	  </div>
		<div class="form-group">
			<textarea class="form-control" [(ngModel)]="plant.description" name="description" placeholder="Descripción" required rows="3"></textarea>
		</div>
		<h4>Datos Técnicos</h4>
		<div class="form-row">
	    <!-- <div class="form-group col-md-6">
	      <label for="family_plant">Familia</label>
	      <input type="text" class="form-control" [(ngModel)]="plant.family" name="family" id="family_plant" placeholder="Categoría a la que pertenece" required >
	    </div> -->
			<div class="form-group col-md-6" ng-init="listarFamilias()">
	      <label for="family_plant">Familia</label>
	      <input type="text" class="form-control" [(ngModel)]="plant.family" name="family" id="family_plant" placeholder="Categoría a la que pertenece" required >
				<select2 id="family_plant" [data]="countryData | async" [value]="startCountry | async" (valueChanged)="this.saveCountry($event)"></select2>
	    </div>

	    <div class="form-group col-md-6">
	      <label for="resist_plant">Resistencia</label>
	      <input type="text" class="form-control" [(ngModel)]="plant.diseaseResist" name="diseaseResist" id="resist_plant" placeholder="Se mide en ºC" required>
	    </div>
  	</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="depth_plant">Profundidad</label>
				<input type="text" class="form-control" [(ngModel)]="plant.depth" name="depth" id="depth_plant" placeholder="Se mide en cm" required >
			</div>
			<div class="form-group col-md-6">
					<label for="distance_plant">Distancia</label>
					<input type="text" class="form-control" [(ngModel)]="plant.distance" name="distance" id="distance_plant" placeholder="Se mide en cm" required>
				</div>
		</div>
		<div class="form-group">
	    <label for="_3DModel">Modelo 3D</label>
			<div class="input-group input-file" name="Fichier1">
		    <input type="text" class="form-control" name="_3DModel" id="_3DModel" placeholder='Seleccionar modelo 3D' />
				<span class="input-group-btn">
					<button class="btn btn-default btn-choose" type="button">Buscar</button>
				</span>
			</div>
	  </div>

	<h4>Calendario</h4>
	<fieldset class="form-group">
	    <div class="row">
	      <legend class="col-md-6 mb-3">Plantación</legend>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_initplant">Inicio</label>
						<input type="date" class="form-control" [(ngModel)]="plant.initDatePlant" name="initplant" id="date_initplant">
					</div>
					<div class="form-group col-md-6">
						<label for="date_endplant">Fin</label>
						<input type="date" class="form-control" [(ngModel)]="plant.finDatePlant" name="endplant" id="date_endplant" >
					</div>
				</div>
	    </div>
  </fieldset>
	<fieldset class="form-group">
	    <div class="row">
	      <legend class="col-md-6 mb-3">Floración</legend>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_initDateBloom">Inicio</label>
						<input type="date" class="form-control" [(ngModel)]="plant.initDateBloom" name="initDateBloom" id="date_initDateBloom" >
					</div>
					<div class="form-group col-md-6">
						<label for="date_finDateBloom">Fin</label>
						<input type="date" class="form-control" [(ngModel)]="plant.finDateBloom" name="finDateBloom" id="date_finDateBloom" >
					</div>
				</div>
	    </div>
	  </fieldset>
		<fieldset class="form-group">
	    <div class="row">
	      <legend class="col-md-6 mb-3">Cosecha</legend>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_initDateHarvest">Inicio</label>
						<input type="date" class="form-control" [(ngModel)]="plant.initDateHarvest" name="initDateHarvest" id="date_initDateHarvest">
					</div>
					<div class="form-group col-md-6">
						<label for="date_finDateHarvest">Fin</label>
						<input type="date" class="form-control" [(ngModel)]="plant.finDateHarvest" name="finDateHarvest" id="date_finDateHarvest">
					</div>
				</div>
	    </div>
	  </fieldset>
		<button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
		<button [routerLink]="['/detail']" class="btn btn-outline-danger">Cancelar</button>
	</form>
</section>








<div class="wrap">

<!-- https://docs.angularjs.org/api/ng/directive/ngDisabled -->
	<h2>Gestión de plantas</h2>
	<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Buscar</button>
				</span>
			</div>
		</div>
	<div class="card-columns">
		<div *ngFor="let plant of plants" class="card"  style="width: 18rem;" >
		  <img class="card-img-top" src="{{plant.photo}}" alt="no sale la imagen" width="100px" height="200px">
		  <div class="card-body" >
				<h4>{{plant.commonName}} </h4>
				<button [routerLink]="['/plantdata']" class="btn btn-outline-primary">Modificar</button>
				<button [routerLink]="['/detail']" class="btn btn-outline-danger">Eliminar</button>
		  </div>
		</div>
	</div>
</div>
