<div class="container main-container">
	<h1>Plantas</h1>
<!-- https://www.npmjs.com/package/angular-tabs-component-->

<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>

</ul> -->

<tabs>
<tab tabTitle="Nueva Planta">
<section class="container">
	<form (ngSubmit)="this.uploadPhoto()" #forma="ngForm">
		<h4>Datos Básicos</h4>
	  <div class="form-row">
	    <div class="col">
	      <input type="text" [(ngModel)]="plant.commonName" class="form-control" name="commonName" placeholder="Nombre común" required>
	    </div>
	    <div class="col">
	      <input type="text" [(ngModel)]="plant.scientificName" class="form-control" name="scientificName" placeholder="Nombre científico" required>
	    </div>
	  </div>
		<br>
		<!-- https://codepen.io/Sebus059/pen/MwMQbP -->
		<div class="form-group">
			  <label for="photo_plant">Foto</label>
			<div class="upload-btn-wrapper form-control ">
			  <button class="bttn">Selecionar imagen</button>
			  <input type="file" name="myfile" id="photo_plant" ng2FileSelect [uploader]="uploader" />
			</div>
	  </div>


		<div class="form-group">
			<textarea class="form-control" [(ngModel)]="plant.description" name="description" placeholder="Descripción" required rows="3"></textarea>
		</div>
		<h4>Datos Técnicos</h4>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="family_plant">Familia</label>
				 <select class="form-control" id="family_plant" [(ngModel)]="plant.family" name="family"required>
					 <option *ngFor="let family of families" value="{{family.id}}">{{family.name}}</option>
				 </select>
	    </div>

	    <div class="form-group col-md-6">
	      <label for="resist_plant">Resistencia</label>
	      <input type="text" class="form-control" [(ngModel)]="plant.diseaseResist" name="diseaseResist" id="resist_plant" placeholder="Se mide en ºC" required>
	    </div>
  	</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="depth_plant">Profundidad</label>
				<input type="text" class="form-control" [(ngModel)]="plant.depth" name="depth" id="depth_plant" placeholder="Se mide en cm" required >
			</div>
			<div class="form-group col-md-6">
					<label for="distance_plant">Distancia</label>
					<input type="text" class="form-control" [(ngModel)]="plant.distance" name="distance" id="distance_plant" placeholder="Se mide en cm" required>
				</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="photo_plant">Modelo 3D</label>

			<div class="upload-btn-wrapper form-control ">
				<button class="bttn">Selecionar</button>
				<input type="file" name="myfile" id="photo_plant" />
			</div>
			</div>
			<div class="form-group col-md-6">
					<label for="leaveType">Tipo hoja</label>
					<input type="text" class="form-control" [(ngModel)]="plant.leaveType" name="leaveType" id="leaveType" placeholder="Caduca o perenne" required>
				</div>
		</div>
		<div class="form-group">

	  </div>

	<h4>Calendario</h4>
	<fieldset class="form-group">
	    <div class="row">
	      <legend class="col-md-6 mb-3">Plantación</legend>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_initplant">Inicio</label>
						<input type="date" class="form-control" [(ngModel)]="plant.initDatePlant" name="initplant" id="date_initplant">
					</div>
					<div class="form-group col-md-6">
						<label for="date_endplant">Fin</label>
						<input type="date" class="form-control" [(ngModel)]="plant.finDatePlant" name="endplant" id="date_endplant" >
					</div>
				</div>
	    </div>
  </fieldset>
	<fieldset class="form-group">
	    <div class="row">
	      <legend class="col-md-6 mb-3">Floración</legend>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_initDateBloom">Inicio</label>
						<input type="date" class="form-control" [(ngModel)]="plant.initDateBloom" name="initDateBloom" id="date_initDateBloom" >
					</div>
					<div class="form-group col-md-6">
						<label for="date_finDateBloom">Fin</label>
						<input type="date" class="form-control" [(ngModel)]="plant.finDateBloom" name="finDateBloom" id="date_finDateBloom" >
					</div>
				</div>
	    </div>
	  </fieldset>
		<fieldset class="form-group">
	    <div class="row">
	      <legend class="col-md-6 mb-3">Cosecha</legend>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="date_initDateHarvest">Inicio</label>
						<input type="date" class="form-control" [(ngModel)]="plant.initDateHarvest" name="initDateHarvest" id="date_initDateHarvest">
					</div>
					<div class="form-group col-md-6">
						<label for="date_finDateHarvest">Fin</label>
						<input type="date" class="form-control" [(ngModel)]="plant.finDateHarvest" name="finDateHarvest" id="date_finDateHarvest">
					</div>
				</div>
	    </div>
	  </fieldset>
		<button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
		<button [routerLink]="['/detail']" class="btn btn-outline-danger">Cancelar</button>
	</form>
</section>

</tab>
<tab tabTitle="Gestión de plantas" active="true">
	<div class="wrap">

				<form (ngSubmit)="this.searchcontent()" class="form-row" #forma="ngForm" >
					<article class="form-group col-md-4">
						<input type="text" [(ngModel)]="plant.commonName" class="form-control" name="commonName" placeholder="Buscar en gardiot" >
			    </article>
					<!-- <article class="form-group col-md-2">
						 <select class="form-control"  name="family">
							 <option  value="nombre">nombre</option>
							 <option  value="familia">familia</option>
						 </select>
					</article>
					<article class="form-group col-md-2">
						 <select class="form-control"  name="order">
							 <option  value="ASC">A-Z</option>
							 <option  value="DES">Z-A</option>
						 </select>
					</article> -->
					<article class="form-group col-md-2">
						<button class="btn btn-default" type="submit">Buscar</button>
					</article>
				</form>

		<div class="card-columns">
			<div *ngFor="let plant of plants" class="card"  style="width: 18rem;" >
			  <img class="card-img-top" src="{{plant.photo}}" alt="no sale la imagen" width="100px" height="200px">
			  <div class="card-body" >
					<h4>{{plant.commonName}} </h4>
					<button [routerLink]="['/plantdata']" class="btn btn-outline-primary">Modificar</button>
					<button [routerLink]="['/detail']" class="btn btn-outline-danger">Eliminar</button>
			  </div>
			</div>
		</div>
		<app-pagination [count]="100" [page]="3" [perPage]="6" [pagesToShow]="3" [loading]="false" (onPrev)="prevPage()" (onNext)="nextPage()" (onPage)="goToPage($event)"></app-pagination>
	</div>
</tab>
</tabs>
