/******* ESTILO ESTADISTICAS *******/
/******* Julián Sánchez García *******/
*{
  /* margin: 0; */
}
.titulo{
  display: inline;
}
iframe{
  padding-top: 1%;
}
h1{
  color:  #fbb200;
  font-size: 1.6em;
}
i{
  float: left;
}

h4{
}
.mat-tab{
    /* height:unset!important; */
    /* width: unset!important;
    /* height: unset!important; */
}
/******* FIN ESTILO ESTADISTICAS *******/
