 <section class="container vistaAdmin">
  <h1>Estadisticas</h1>
  <article>
      <section class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                    <fieldset>
                      <mat-tab-group class="demo-tab-group">
                          <mat-tab class="demo-tab-content" label="Estadísticas de usuario">
                            <article class="row">
                              <div class="col">
                          			<h4>Usuarios</h4>
                          				<iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&panelId=6&from=1522533600000&to=1525125599999&var-planta1=Aloe%20vera&var-planta2=Cactus"
                                              width="450" height="250" frameborder="0">
                                  </iframe>
                              </div>
                              <div class="col">
                          			<h4>Mapa de usuarios</h4>
                                  <iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&panelId=8&from=1522533600000&to=1525125599999&var-planta1=Aloe%20vera&var-planta2=Cactus"
                                              width="450" height="250" frameborder="0">
                                  </iframe>
                              </div>
                              <div class="col">
                                <h4>Usuarios conectados</h4>
                                <br>
                                 <!-- <mat-form-field>
                                  <mat-select placeholder="Usuarios conectados" [(ngModel)]="selectedValue">
                                    <mat-option *ngFor="let minuto of minutos" [value]="minuto.value">
                                      {{ minuto.viewValue }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field> -->
                                <p> Valor seleccionado: {{selectedValue}}</p>
                                <br>
                                <iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&var-planta1=Aloe%20vera&var-planta2=Cactus&var-tiempo=120&from=1523972498658&to=1523973398658&panelId=10"
                                        width="450" height="200" frameborder="0">
                                </iframe>
                              </div>
                            </article>
                          </mat-tab>



                          <mat-tab label="Estadísticas de jardín">
                            <article class="row">
                              <div class="col">
                          			<h4>Tareas realizadas en los jardines</h4>
                          				<iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&panelId=4&from=1522533600000&to=1525125599999&var-planta1=Aloe%20vera&var-planta2=Cactus"
                                   width="450" height="250" frameborder="0">
                                 </iframe>
                              </div>
                              <div class="col">
                          			<h4>Comparativa de plantas</h4>
                          				<iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&panelId=2&from=1522533600000&to=1525125599999&var-planta1=Aloe%20vera&var-planta2=Cactus"
                                              width="450" height="250" frameborder="0">
                                  </iframe>
                              </div>
                            </article>
                          </mat-tab>

                      </mat-tab-group>
                  </fieldset>
              </div>
          </div>
      </section>
    </article>

    <article class="row">
    <div class="col">
			<h3>Usuarios</h3>
				<iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&panelId=6&from=1522533600000&to=1525125599999&var-planta1=Aloe%20vera&var-planta2=Cactus"
                    width="450" height="250" frameborder="0">
        </iframe>
    </div>
    <div class="col">
			<h3>Mapa de usuarios</h3>
      <iframe src="https://gardiot.ovh/grafana/d-solo/4-LEvPkiz/panel-de-estadisticas?orgId=1&panelId=8&from=1522533600000&to=1525125599999&var-planta1=Aloe%20vera&var-planta2=Cactus"
                  width="450" height="250" frameborder="0">
      </iframe>
    </div>
  </article>
</section>
