<section class="container vistaAdmin">
  <mat-tab-group>
    <mat-tab label="Estadísticas de usuario">
      <iframe src="https://gardiot.ovh/grafana/d/WlnVc4Mmz/dashboard-usuarios?orgId=1&from=1524816953370&to=1524838553373&theme=light" width="auto" height="auto" frameborder="0" class="col">
      </iframe>
    </mat-tab>
    <mat-tab class="one" label="Estadísticas de jardín">
      <iframe src="https://gardiot.ovh/grafana/d/o7sXcVMiz/dashboard-jardines?orgId=1&from=1524543632044&to=1524835605975&theme=light" width="auto" height="auto" frameborder="0" class="col">
      </iframe>
    </mat-tab>
  </mat-tab-group>
</section>
