iframe {
  max-height: 680px;
  min-height: 540px;
}

section, mat-tab {
  margin-left: auto;
  margin-right: auto;
}

section {
  align-items: center;
  text-align: center;
  height: unset !important;
}

.mat-tab {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
