<div>
  <section>
    <h4>¡Bienvenido Gardioter!</h4>
    <p>Una manera fácil de cuidar tu jardín</p>
    <img src="{{photoURL}}/images/imgGardiot/infografia.png" class="rounded mx-auto d-block" alt="Logo">
    <p>¿Tienes ganas de empezar? Vamos a ayudarte a crear tu jardín</p>
    <mat-dialog-actions>
      <button mat-raise-button (click)="onCloseConfirm()" type="button" class="btn btn-success" href="#">Comenzar</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <a (click)="onCloseOmit()" class="omitir">Omitir</a>
    </mat-dialog-actions>
  </section>
</div>
