div{
    width: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,0.1);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
section{
  margin-top: -26px;
}
mat-dialog-actions{
padding: 2.5px;
}
button{
margin: auto;
}
img{
  width: 50%;
}
.omitir{
  color: green;
  margin-left: 90%;
}
