<div>
  <section>
    <article class="divPhoto" (click)="selectPhoto($event)">
      <div></div>
      <i class="material-icons">file_upload</i>
    </article>
    <input type="file" (change)="uploadPhoto($event)" ng2FileSelect [uploader]="uploader" />
    <dl class="row">
      <dd class="col-sm-12">{{user.name}} {{user.lastName}}</dd>
      <dd class="col-sm-12">{{user.id}}</dd>
      <dd class="col-sm-12">{{user.birthDate | date}}</dd>
      <dd class="col-sm-12">{{user.countryCode}}</dd>
      <dd class="col-sm-12">{{user.city}}</dd>
    </dl>
    <mat-dialog-actions>
      <button mat-raise-button (click)="onCloseConfirm()" type="button" [routerLink]="['/editprofile']" class="btn btn-outline-primary" href="#">Editar</button>
    </mat-dialog-actions>
  </section>
</div>
