.search{
  border: none;
}
.nombre input{
  display: flex-block;
  width: 50%;
}
.nombre select{
  display: flex-block;
  width: 50%;
}
.profundidad{
  margin-left: 2%;
}
.hoja input{
  display: inline-flex;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.hoja label{
  display: inline-flex;
  padding: 0;
  width: 100%;
}
.hoja{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2%;
  margin-left: 4%;
}


.fechas{
  margin-right: 1%;
  text-align: left;
}
form{
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99, 210, 151, .3);
  padding: 1%;
  margin-bottom: 1%;
}

label, input, textarea, select, option{
  font-size: .9em;
}
.foto button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}
.foto input{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

label{
  font-style: italic;
  font-weight: bold;
}
.bttn{
  width: 100%;
}
