<div class="vistaAdmin">
  <div class="container main-container wrap">
    <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
      <article class="form-group col-md-4">
        <input type="text" [(ngModel)]="user.id" class="form-control col-md-6" name="id" placeholder="e-mail">
      </article>
      <article class="form-group col-md-6">
        <button class="btn btn-outline-success search" type="submit"><i class="material-icons">search</i></button>
        <button data-toggle="collapse" data-target="#demo" class="btn btn-outline-info search"><i class="material-icons">filter_list</i></button>
      </article>
      <article class="form-group col-md-2">
        <button [routerLink]="['/admin/newuser']" class="btn btn-outline-primary search"><i class="material-icons">add_circle</i></button>
      </article>
    </form>
    <div class="collapse" id="demo">
      <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
        <div class="form-group col-md-6">
          <input type="text" [(ngModel)]="user.name" class="form-control col-md-6" id="propio" name="propio" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
          <input type="text" [(ngModel)]="user.lastName" class="form-control col-md-6" id="apellido" name="apellido" placeholder="Apellido">
        </div>
        <div class="form-group col-md-6">
          <label for="tipo">Tipo</label>
          <select [(ngModel)]="user.admin" class="form-control col-md-6" id="tipo" name="tipo" default="">
            <option value="undefined">Todos</option>
            <option value="0">Usuario</option>
            <option value="1">Administrador</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="activo">Estado</label>
          <select [(ngModel)]="user.active" class="form-control col-md-6" id="activo" name="activo" default="">
            <option value="undefined">Todos</option>
            <option value="0">No activo</option>
            <option value="1">Activo</option>
          </select>
        </div>
        <button class="btn btn-outline-info search" title="Buscar" type="submit"><i class="material-icons">search</i></button>
        <button class="btn btn-outline-info search" title="Limpiar" (click)="clear()"><i class="material-icons">format_clear</i></button>
      </form>
    </div>
    <table class="table table-hover" *ngIf="numeroItems!=0">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.name}}</th>
          <td>{{user.lastName}}</td>
          <td>{{user.id}}</td>
          <td>{{user.admin}}</td>
          <td>{{user.active}}</td>
          <td><button class="btn btn-outline-primary search" [routerLink]="['/admin/edituser/',user.id]"><i class="material-icons">mode_edit</i></button></td>
          <td><button class="btn btn-outline-danger search" (click)="openDialog(user.id,5)"><i class="material-icons">delete</i></button></td>
        </tr>
      </tbody>
    </table>
    <p class="resultado" *ngIf="numeroItems==0">Esta busqueda no tiene resultados</p>
    <app-pagination [count]="this.numeroItems" [type]="4" [page]="this.paginaActual" [perPage]="this.elementosPorPagina" [pagesToShow]="3" [loading]="false"></app-pagination>
  </div>
</div>
