.search{
  border: none;
}
/* Julián Sánchez García.
   Ingeniería Multimedia UA 2018 */

div,article,section{
  /* border: 1px solid green; */
}
input,label, select,option{
  font-size: .9em;
  padding: 0;
  margin: 0;
  width: 100%;
}
th{
  font-size: .9em;
  font-weight: bold;
}

td{
  font-size: .8em;
  /* font-style: italic; */
}
form{
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99, 210, 151, .3);
  padding: 1%;
  margin-bottom: 1%;
}

.resultado{
  margin-top: 5%;
  font-style: italic;
  font-size: 1.2em;
}
