<div class="vistaAdmin">
  <div class="container main-container wrap">
    <h1>Panel de administrador</h1>

    <form (ngSubmit)="this.searchcontent(6,1)" class="form-row" #forma="ngForm">
      <article class="form-group col-md-4">
        <input type="text" [(ngModel)]="user.id" class="form-control" name="id" placeholder="Buscar en gardiot">
      </article>
      <article class="form-group col-md-2">
        <button class="btn btn-default" type="submit">Buscar</button>
      </article>
      <article class="form-group col-md-2">
        <button [routerLink]="['/admin/newuser']" class="btn btn-outline-primary">Nuevo Usuario</button>
      </article>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estado</th>
          <th scope="col">Modificar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.name}}</th>
          <td>{{user.lastName}}</td>
          <td>{{user.id}}</td>
          <td>{{user.admin}}</td>
          <td>{{user.active}}</td>
          <td><button class="btn btn-outline-primary" [routerLink]="['/admin/edituser/',user.id]">Modificar</button></td>
          <!-- <td><button  class="btn btn-outline-danger" (click)="deleteuser(user.id)" [routerLink]="['/admin/users']" [queryParams]="{pag: 1}" >Eliminar</button></td> -->
          <td><button class="btn btn-outline-danger" (click)="openDialog(user.id,5)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <app-pagination [count]="this.numeroItems" [type]="4" [page]="this.paginaActual" [perPage]="this.elementosPorPagina" [pagesToShow]="3" [loading]="false" (onPrev)="prevPage()" (onNext)="nextPage()" (onPage)="goToPage($event)"></app-pagination>
  </div>
</div>
