<div class="vistaAdmin">
  <div class="container main-container wrap">
    <h1>Productos</h1>

    <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
      <article class="form-group col-md-4">
        <input type="text" [(ngModel)]="product.name" class="form-control" name="name" placeholder="Buscar en gardiot">
      </article>
      <article class="form-group col-md-4">
        <button class="btn btn-default" type="submit">Buscar</button>
        <a data-toggle="collapse" data-target="#demo" class="small">Busqueda avanzada</a>
      </article>
      <article class="form-group col-md-2">
        <button [routerLink]="['/admin/newproduct']" class="btn btn-outline-primary">Nuevo Producto</button>
      </article>
    </form>
    <div id="demo" class="collapse">
      <form (ngSubmit)="this.searchcontent(1,6)" class="form-row" #forma="ngForm">
        <label for="content">Descripción</label>
        <input type="text" [(ngModel)]="product.description" class="form-control" id="content" name="content" placeholder="Descripción">

        <label for="content">Tipo</label>
        <input type="type" [(ngModel)]="product.type" class="form-control" id="type" name="type" placeholder="tipo">

        <button class="btn btn-default" type="submit">Filtrar</button>
      </form>
      
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Modificar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{product.name}}</th>
          <td>{{product.type}}</td>
          <td>{{product.description}}</td>
          <td><button class="btn btn-outline-primary" [routerLink]="['/admin/editproduct/',product.id]">Modificar</button></td>
          <!-- <td><button  class="btn btn-outline-danger" (click)="delete(product.id)" [routerLink]="['/admin/products']" [queryParams]="{pag: 1}" >Eliminar</button></td> -->
          <td><button class="btn btn-outline-danger" (click)="openDialog(product.id,1)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <app-pagination [count]="this.numeroItems" [type]="3" [page]="this.paginaActual" [perPage]="this.elementosPorPagina" [pagesToShow]="3" [loading]="false" (onPrev)="prevPage()" (onNext)="nextPage()" (onPage)="goToPage($event)"></app-pagination>
  </div>
</div>
