<div class="container main-container">
  <div class="row">
    <!-- <div class="card bg-dark text-white">
  <canvas  id="myCanvas" class="card-img" oncontextmenu="return false;" onmousemove="mouse_move(event, 'detail');" onmousedown="mouse_down(event, 'detail');" onmouseup="mouse_up(event, 'detail');" onmousewheel="scrolling(event, 'detail');" width="1149"
    height="270"></canvas>
  <div class="card-img-overlay">
    <h5 class="card-title">{{garden.title}}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div> -->
    <section class="calendar col-lg-5 ">
      <div class="container">
        <div class="title">
          <h6 id="titulo">Tareas</h6>
        </div>
        <div class="body">
          <div class="row fila" *ngFor="let grupo of tareas">
            <div class="col-sm-2 fecha">
              <span class="numero">{{grupo[0].date | date:['d']}}</span>
              <span class="mes">{{grupo[0].date | date:['LLL']}}</span>
            </div>
            <div class="col">
              <div class="row tarea rounded" *ngFor="let tarea of grupo">
                <img *ngIf="tarea.name=='Regar'" src="{{photoURL}}/images/icon/regar.png" class="rounded mx-auto d-block icontarea" alt="Logo">
                <img *ngIf="tarea.name=='Fertilizar'" src="{{photoURL}}/images/icon/fertilizar.png" class="rounded mx-auto d-block icontarea" alt="Logo">
                <img *ngIf="tarea.name=='Podar'" src="{{photoURL}}/images/icon/podar.png" class="rounded mx-auto d-block icontarea" alt="Logo">
                <img *ngIf="tarea.name=='Recolectar'" src="{{photoURL}}/images/icon/cosechar.png" class="rounded mx-auto d-block icontarea" alt="Logo">
                <img *ngIf="tarea.name=='Fumigar'" src="{{photoURL}}/images/icon/fumigar.png" class="rounded mx-auto d-block icontarea" alt="Logo">
                <p class="col-sm-8 text_conejo">{{tarea.commonName}}</p>
                <!--{{tarea.name}}   -->
                <button *ngIf="tarea.dateDone==null" type="button" class="close col-md-1" aria-label="Close" (click)="dotask(tarea)"><i class="material-icons">done</i></button>
                <i *ngIf="tarea.dateDone!=null" class="material-icons hecho">thumb_up</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="col-lg-7">
      <section class="herramienta row ">
        <article class="form-row">
          <div class="form-group" (click)="goGarden()">
            <canvas id="myCanvas" oncontextmenu="return false;" onmousemove="mouse_move(event, 'detail');" onmousedown="mouse_down(event, 'detail');" onmouseup="mouse_up(event, 'detail');" onmousewheel="scrolling(event, 'detail');" width="350" height="300"></canvas>
          </div>
        </article>
        <article>
          <section class="row icono">
            <div class="icon">
              <img src="{{photoURL}}/images/imgGardiot/checklist.png" class="rounded mx-auto d-block " alt="Logo">
              <p class="texto_dato">60%</p>
            </div>
            <div class="icon">
              <img src="{{photoURL}}/images/imgGardiot/flower.png" class="rounded mx-auto d-block icon" alt="Logo">
              <p class="texto_dato">{{garden.plants.length}}</p>
            </div>
          </section>
          <section class="row icono">
            <div class="icon">
              <img src="{{photoURL}}/images/imgGardiot/temperature.png" class="rounded mx-auto d-block icon" alt="Logo">
              <p class="texto_dato">{{temperature | number:'.0-0'}}º</p>
            </div>
            <div class="icon">
              <img src="{{photoURL}}/images/imgGardiot/ubicacion.png" class="rounded mx-auto d-block icon" alt="Logo">
              <p class="texto_dato">{{garden.city}}</p>
            </div>
          </section>
        </article>
      </section>
      <section class="feeds row">
        <div class="title">
          <h6 id="titulo2">Consejos</h6>
        </div>
        <div class="body2">
          <div class="row fila " *ngFor="let feed of feeds">
            <div class="col-sm-1 ">
              <span *ngIf="feed.viewed==0" class="mes">Nuevo</span>
            </div>
            <div class="col">
              <div class="row tarea rounded">
                <p class="col-md-11 title_conejo">{{feed.name}}</p>
                <button *ngIf="feed.viewed==0" type="button" class="close col-md-1" aria-label="Close" (click)="cerrarfeed(feed.id)"><i class="material-icons">visibility</i></button>
                <p class="col-md-12 text_conejo">{{feed.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
