<div class="container main-container">
  <div class="form-group row-md-12 feeds">
    <section *ngFor="let feed of feeds" class="alert alert-success feed" role="alert">
      <article class="form-row">
        <div class="col">
          <h6>{{feed.name}} </h6>
        </div>
        <div class="col">
          <button type="button" class="close" aria-label="Close" (click)="cerrarfeed(feed.id)"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="form-group row-md-8">
          <p>{{feed.text}} </p>
        </div>
      </article>
    </section>
  </div>


  <!--
  <div [routerLink]="['/calendar']">
    <div class="row text-center">
      <div class="col-md-12">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
      </div>
    </div>
    <br>
    <div [ngSwitch]="view">
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="locale" [refresh]="refresh" [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
    </div>
  </div>
  -->
  <div class="row">
  <section class="herramienta col-lg-6">
    <article class="form-row">
      <div class="form-group" (click) = "goGarden()" >
        <canvas  id="myCanvas" oncontextmenu="return false;" onmousemove="mouse_move(event, 'detail');" onmousedown="mouse_down(event, 'detail');" onmouseup="mouse_up(event, 'detail');" onmousewheel="scrolling(event, 'detail');" width="450"
          height="350"></canvas>
      </div>
    </article>
  </section>

  <section class="calendar col-lg-6 ">
  <div class="container">
    <div class="title">
      <h6 id="titulo">Tareas</h6>
    </div>
    <div class="body">

      <div class="row fila" *ngFor = "let grupo of tareas">
        <div class="col-sm-2 fecha">
        <span class ="numero">{{grupo[0].date | date:['d']}}</span> 
        <span class ="mes">{{grupo[0].date | date:['LLL']}}</span>
        </div>

        <div class="col">        
          <div class="row tarea rounded" *ngFor = "let tarea of grupo">
            {{tarea.name}} {{tarea.commonName}}
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
</div>

</div>
