.feeds{
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
}
.feed{
  /* position: absolute; */
}





.body {
	padding: 10px;
	height: 400px;
	background-color: white;
	overflow-y:scroll;
	overflow-x: hidden;
}

.title {
	margin-bottom: -8px;
}

#titulo {
	background-color: #299654 !important;
	text-align: center;
	color : white;
	padding : 5px;
}

.fecha {
	width: 20%;
	border-right: 3px solid lightblue

}
.fila {
	margin-bottom: 5px; 
	

}

.numero {
	font-size: x-large;
}
.mes {
	line-height:0.5;
	font-size: x-small;
}
.tarea {
	background-color: #ebc074;


	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 7px;

	margin-left:15px;
	margin-right:15px;
	margin-bottom: 5px;
	font-size: small;
}

@media only screen and (max-width: 600px){
	.body{
		overflow-y: hidden;
		overflow-x: hidden;
		height: initial;
	}

}



