<div class="container main-container">
  <h1>Editar mi jardin</h1>

  <section class="container">
  <canvas style="border:1px solid #000000" id="myCanvas" width="480" height="360"></canvas>
  </section>

<section class="container">
  <div class="row animated fadeIn fast">
    <div class="col-md-12">
      <form  (ngSubmit)="edit()" #forma="ngForm" novalidate="">
        <div class="form-group">
          <label  for="title">Título: </label>
          <input  class="form-control" type="text" [(ngModel)]="garden.title" name="title" id="title_garden" required>
        </div>

        <div class="form-group">
          <label  for="length">Largo: </label>
          <input  class="form-control" type="text" [(ngModel)]="garden.length" name="length" id="length_garden" required>
          <label  for="width">Ancho: </label>
          <input  class="form-control" type="text" [(ngModel)]="garden.width" name="width" id="width_garden" required>
        </div>
        <div class="form-group" ng-init="listarPaises()">
          <label for="countries">País:</label>
 
          <select2 id="pais" [data]="countryData | async" [value]="startCountry | async" (valueChanged)="this.saveCountry($event)">
          </select2>
 
        </div>

          <div class="form-group">
            <label for="countries">Introduce tu código postal:</label>
            <input class="form-control" type="text" id="zipCode" (valueChanged)="this.saveCity($event)"/>
        </div>
 
        <div class="form-group">
            <label for="countries">Ciudad:</label>
            <span id="ciudad"></span>
        </div>

        <button type="submit" class="btn btn-outline-primary">Guardar</button>
        <button [routerLink]="['/garden']" class="btn btn-outline-danger">Cancelar</button>

      </form>
    </div>
    <div>
      <button (click)="delete()" class="btn btn-danger" >Borrar</button>
    </div>
  </div>
</section>
</div>
