#photoProfile {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.divPhoto {
  padding: 1%;
}

.perfil div {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: .5%;
}

.perfil label, input {
  font-size: .9em;
  margin: 0;
}

.bloqueFoto {
  float: right;
}

.bloqueDatos {
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(255, 178, 0, .3);
  margin-bottom: 2%;
}

.bloqueContra {
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(255, 178, 0, .3);
}

.entradaFoto {
  padding: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
}

.bttn {
  width: 100%;
  font-size: .9em;
}

.form-group {
  margin: 0;
  padding: 0;
}
