<div class="container">
    <h1>{{plant.commonName}}</h1>
    <div class="row">

      <div class="col">
        <!--delante de la url https://gardiot.ovh/ -->
        <section class="card">
          <img src="{{plant.photo}}"alt="puerros">
          <!-- <p>ID:{{plant.id}}</p>-->
          <h3>Nombre común</h3>
          <p *ngIf="plant.commonName !=undefined">{{plant.commonName}}</p>
          <h3>Nombre científico</h3>
          <p *ngIf="plant.scientificName !=undefined">{{plant.scientificName}}</p>
          <h3>Familia</h3>
          <p *ngIf="plant.family !=undefined">{{plant.family}}</p>
        </section>
      </div>

      <div class="col">
        <section class="card">
          <h3>Descripción</h3>
          <p *ngIf="plant.description !=undefined">{{plant.description}}</p>
        </section>
      </div>

      <div class="col">
        <section class="card">
            <img class="iconplant"src="assets/images/icon/descargar.png" alt="Profundidad de siembra">
            <p *ngIf="plant.depth !=undefined">Profundidad de siembra: {{plant.depth}} cm</p>
            <img class="iconplant"src="assets/images/icon/descargar.png" alt="Profundidad de siembra">
            <p *ngIf="plant.distance !=undefined">Distancia entre plantas: {{plant.distance}} cm</p>
            <img class="iconplant"src="assets/images/icon/descargar.png" alt="Profundidad de siembra">
            <p *ngIf="plant.diseaseResist !=undefined">Resistencia al frío: {{plant.diseaseResist}}</p>
            <img class="iconplant"src="assets/images/icon/descargar.png" alt="Profundidad de siembra">
            <p *ngIf="plant.leaveType !=undefined">Tipo de hoja: {{plant.leaveType}}</p>
        </section>
      </div>
      <div class="col">
        <section class="card">
          <p *ngIf="plant.initDatePlant !=undefined" >Inicio de siembra: {{plant.initDatePlant | date}}</p>
          <p *ngIf="plant.finDatePlant !=undefined">Fin de siembra: {{plant.finDatePlant | date}}</p>
          <p *ngIf="plant.initDateBloom !=undefined">Inicio periodo de floración: {{plant.initDateBloom | date}}</p>
          <p *ngIf="plant.finDateBloom !=undefined">Fin periodo de floración: {{plant.finDateBloom | date}}</p>
          <p *ngIf="plant.initDateHarvest !=undefined">Inicio periodo recolección: {{plant.initDateHarvest | date}}</p>
          <p *ngIf="plant.finDateHarvest !=undefined">Fin periodo recolección: {{plant.finDateHarvest | date}}</p>
        </section>
      </div>
    </div>
</div>
