section{
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}

p{
  font-size: .8em;
  text-align: justify;

}

h1{
  margin-top: 10%;
  text-align: left;
  font-weight: bold;
}

h2{
  font-size: 1em;
}

h3{
  font-size: 1em;
}
