<!-- Menú estándar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Gardiot</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item" *ngIf="!this.user.isAuthenticated">
    <a [routerLink]="['/register']" class="nav-link" href="#">Registrarse <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item" *ngIf="!this.user.isAuthenticated">
    <a [routerLink]="['/login']" class="nav-link" href="#">Log In</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin']" class="nav-link" href="#">Administración</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated">
    <a [routerLink]="['/profile']" class="nav-link" href="#">Mi perfil</a>
  </li>

  <li class="nav-item">
    <a href="https://gardiot.ovh/symbiose/" class="nav-link" target="blank">Symbiose</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated">
    <a [routerLink]="['/logout']" class="nav-link" href="#">Log Out</a>
  </li>


</ul>

</div>



</nav>
