<!-- Menú estándar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Gardiot</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item" *ngIf="!this.user.isAuthenticated">
    <a href="https://gardiot.ovh/symbiose/" class="nav-link" target="blank">Symbiose</a>
  </li>
  <li class="nav-item" *ngIf="!this.user.isAuthenticated">
    <a [routerLink]="['/login']" class="nav-link" href="#">Log In</a>
  </li>
  <li class="nav-item" *ngIf="!this.user.isAuthenticated">
    <a [routerLink]="['/register']" class="nav-link" href="#">Registrarse <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && !this.user.isAdmin">
    <a [routerLink]="['/garden']" class="nav-link" href="#">Jardin</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && !this.user.isAdmin">
    <a [routerLink]="['/plants']" class="nav-link" href="#">Plantas</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && !this.user.isAdmin">
    <a [routerLink]="['/calender']" class="nav-link" href="#">Calendario</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/statistics']" class="nav-link" href="#">Estadísticas</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/analytics']" class="nav-link" href="#">Anatítica</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/email']" class="nav-link" href="#">Correo</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/userdata']" class="nav-link" href="#">Usuarios</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/plantdata']" class="nav-link" href="#">Plantas</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/eventdata']" class="nav-link" href="#">Eventos</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/tool']" class="nav-link" href="#">Herramientas</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated && this.user.isAdmin">
    <a [routerLink]="['/admin/invoice']" class="nav-link" href="#">Facturas</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated">
    <a [routerLink]="['/profile']" class="nav-link" href="#">Mi perfil</a>
  </li>
  <li class="nav-item" *ngIf="this.user.isAuthenticated">
    <a [routerLink]="['/logout']" class="nav-link" href="#">Log Out</a>
  </li>


</ul>

</div>



</nav>
