.search {
  border: none;
}

form {
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(99, 210, 151, .3);
  padding: 1%;
  margin-bottom: 1%;
}

input, textarea {
  width: 100%;
}

label, input, textarea {
  font-size: .9em;
  padding: 1%;
  padding-left: 0;
  margin: 0;
}

label {
  font-style: italic;
  font-weight: bold;
}

.btn {
  margin: 1%;
}
