<h1>Panel de administrador</h1>
<hr>
<h2>Lista de Usuarios</h2>
<br>
<div class="col-md-12 text-right">
  <button [routerLink] ="['/user/:id']" class="btn btn-outline-primary"
          type="submit" name="button">
    Nuevo usuario
  </button>
  <br><br>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <!-- <th scope="col">Pass</th> -->
            <th scope="col">Nombre</th>
            <th scope="col">Cumpleaños</th>
            <th scope="col">Foto</th>
            <th scope="col">Activo</th>
            <th scope="col">Plan</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Admin</th>
            <th scope="col">Acceso</th>
            <th scope="col">GoogleId</th>
            <th scope="col">FacebookId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <!-- <td>{{user.password}}</td> -->
            <td>{{user.name}}</td>
            <td>{{user.birthDate | date}}</td>
            <td>{{user.photo}}</td>
            <!-- <td><img src="..." class="img-fluid pull-xs-left" alt="...">{{user.photo}}</td> -->
            <td>{{user.active}}</td>
            <td>{{user.plan}}</td>
            <td>{{user.city}}</td>
            <td>{{user.admin}}</td>
            <td>{{user.acces}}</td>
            <td>{{user.googleId}}</td>
            <td>{{user.facebookId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
