<h1>Panel de administrador</h1>
<hr>
<h2>Lista de Usuarios</h2>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Password</th>
            <th scope="col">Nombre</th>
            <th scope="col">Plan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{user.id}}</td>
            <td>1234</td>
            <td></td>
            <td>Free</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
